@import "../../styles/colors";
@import "../../styles/font";
@import "../../styles/variables";

.factura-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 0 16px 32px 16px;
  background: inherit;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $grey;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
}

.factura-table {
  &__content {
    overflow-x: scroll;
    position: relative;
  }

  &__table {
    width: 100%;
    box-shadow: none;
    background: initial;

    .mat-header-cell,
    .mat-cell {
      color: #ededed;
    }

    .mat-header-cell {
      font-family: "Avenir";
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;

      > div {
        justify-content: center;
      }
    }

    @media (max-width: $small) {
      width: 200%;
    }
  }

  &__table-checkbox {
    width: 32px;
    padding-left: 24px;
  }

  &__table-header {
    font-size: $fs-small;
    padding: 0 8px;
  }

  &__table-body {
    font-size: $fs-small;
    padding: 0 8px;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.457px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__paginator {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    mat-label {
      margin-right: 1em;
    }
  }
}
