<mat-card class="factura-table-wrapper">
  <!-- <mat-card-title class="factura-table-wrapper__header">
    <p class="factura-table-wrapper__title">Facturas</p>
    <div>
      <button
        class="factura-table-wrapper__button"
        mat-mini-fab
        (click)="refresh.emit()"
      >
        <mat-icon class="factura-table-wrapper__icon">sync</mat-icon>
      </button>
    </div>
  </mat-card-title> -->

  <mat-card-content class="factura-table__content">
    <mat-progress-bar
      [style.display]="loading ? 'block' : 'none'"
      style="position: absolute; top: 54px; height: 2px"
      class="brand-progress-bar-1"
      mode="indeterminate"
    ></mat-progress-bar>

    <table
      mat-table
      matSort
      class="brand-table-1"
      matSortStart="desc"
      [dataSource]="dataSource"
    >
      <!-- Plataforma column -->
      <ng-container matColumnDef="plataforma">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 40px"
        >
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          <div 
            class="icon"
            [ngClass]="element.source == 'orden' ? 'icon-invoice-driver' : element.source == 'factura' ? 'icon-invoice-cfdi' : 'icon-invoice-order'"
            [matTooltip]="element.source == 'orden' ? ('invoice.tooltips.invoice_source.drivers' | translate) : element.source == 'factura' ?  ('invoice.tooltips.invoice_source.factura' | translate) : ('invoice.tooltips.invoice_source.ordenes' | translate)"
            matTooltipPosition="right"
            matTooltipHideDelay="100"
            matTooltipClass="brand-tooltip-1"
          >
          </div>
        </td>
      </ng-container> 

      <!-- Time Column -->
      <ng-container matColumnDef="fecha_emision">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 80px"
        >
          {{ "invoice.invoice-table.emision" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.fecha_emision | date: "MMM d, yy" }}
        </td>
      </ng-container>

      <!-- Emisor Column -->
      <ng-container matColumnDef="emisor">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 220px"
        >
          {{ "invoice.invoice-table.emisor" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          <span style="font-weight: 300">{{ element.emisor?.nombre }}</span>
          <span style="font-weight: 300; opacity: 0.7">
            {{ element.emisor?.rfc }}</span
          >
        </td>
      </ng-container>

      <!-- Receptor Column -->
      <ng-container matColumnDef="receptor">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 220px"
        >
          {{ "invoice.invoice-table.receptor" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          <span style="font-weight: 300">{{ element.receptor?.nombre }}</span>
          <span style="font-weight: 300; opacity: 0.7">
            {{ element.receptor?.rfc }}</span
          >
        </td>
      </ng-container>

      <!-- Serie Column -->
      <ng-container matColumnDef="serie">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 80px"
        >
          {{ "invoice.invoice-table.serie" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.serie_label || element.serie }}
        </td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 80px"
        >
          {{ "invoice.invoice-table.tipo" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.tipo_de_comprobante_ }}
        </td>
      </ng-container>

      <!-- Stamped Column -->
      <ng-container matColumnDef="status">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 90px"
        >
          {{ "invoice.invoice-table.status" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
          [style.color]="facturaStatus('color', element.status)"
          [matTooltip]="(p(element).showError && showError(element)) || ''"
          matTooltipPosition="right"
          matTooltipHideDelay="100"
          matTooltipClass="brand-tooltip-2"
        >
          {{ element.status_ }}
        </td>
      </ng-container>

      <!-- Subtotal Column -->
      <ng-container matColumnDef="subtotal">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 80px"
        >
          {{ "invoice.invoice-table.subtotal" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          {{
            element.subtotal
              ? "$" +
                element.subtotal.toLocaleString("en-US", {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2
                })
              : ""
          }}
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="width: 80px"
        >
          {{ "invoice.invoice-table.total" | translate }}
        </th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          {{
            element.total
              ? "$" +
                element.total.toLocaleString("en-US", {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2
                })
              : ""
          }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th
          class="factura-table__table-header"
          mat-header-cell
          *matHeaderCellDef
          style="width: 50px"
        ></th>
        <td
          class="factura-table__table-body"
          mat-cell
          *matCellDef="let element"
        >
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="brand-menu-1">
            <button
              *ngIf="p(element).edit"
              mat-menu-item
              [routerLink]="
                !!element.order
                  ? [routes.EDIT_ORDER_FACTURA, { id: element.order }]
                  : [
                      routes.EDIT_FACTURA,
                      p(element).edit
                        ? { id: element._id }
                        : { id: element._id, status: element.status }
                    ]
              "
            >
              <mat-icon>find_in_page</mat-icon>
              <span>{{
                p(element).edit
                  ? ("invoice.invoice-table.edit-invoice" | translate)
                  : ("invoice.invoice-table.view-details" | translate)
              }}</span>
            </button>
            <!-- <button
              *ngIf="
                p(element).edit &&
                p(element).cartaporte &&
                !!element.carta_porte
              "
              mat-menu-item
              [routerLink]="[routes.CARTA_PORTE, { id: element._id }]"
            >
              <mat-icon>ballot</mat-icon>
              <span>{{ "invoice.invoice-table.carta-porte" | translate }}</span>
            </button> -->
            <button
              *ngIf="p(element).vistaprevia"
              mat-menu-item
              (click)="downloadPreview(element)"
            >
              <mat-icon>download</mat-icon>
              <span>{{ "invoice.invoice-table.preview" | translate }}</span>
            </button>
            <a
              *ngIf="p(element).pdf"
              mat-menu-item
              [href]="element.files?.pdf"
              download=""
            >
              <mat-icon>download</mat-icon>
              <span>{{
                "invoice.invoice-table.download-pdf" | translate
              }}</span>
            </a>
            <a
              *ngIf="p(element).pdf_driver && element.files?.pdf_driver"
              mat-menu-item
              [href]="element.files?.pdf_driver"
              download=""
            >
              <mat-icon>download</mat-icon>
              <span>{{
                "invoice.invoice-table.download-pdf-driver" | translate
              }}</span>
            </a>
            <a
              *ngIf="p(element).pdf_cancelado"
              mat-menu-item
              [href]="element.files?.pdf_cancelado"
              download=""
            >
              <mat-icon>download</mat-icon>
              <span>{{
                "invoice.invoice-table.download-pdf" | translate
              }}</span>
            </a>
            <a
              *ngIf="p(element).xml"
              mat-menu-item
              [href]="element.files?.xml"
              download=""
            >
              <mat-icon>download</mat-icon>
              <span>{{
                "invoice.invoice-table.download-xml" | translate
              }}</span>
            </a>
            <a
              *ngIf="p(element).xml_acuse"
              mat-menu-item
              [href]="element.files?.xml_acuse"
              download=""
            >
              <mat-icon>download</mat-icon>
              <span>{{
                "invoice.invoice-table.download-acuse" | translate
              }}</span>
            </a>
            <button
              *ngIf="p(element).duplicar"
              mat-menu-item
              [routerLink]="[routes.NEW_FACTURA, { template: element._id }]"
            >
              <mat-icon>file_copy</mat-icon>
              <span>{{ "invoice.invoice-table.duplicate" | translate }}</span>
            </button>
            <button
              *ngIf="p(element).enviar_correo"
              mat-menu-item
              (click)="sendEmailFactura(element._id)"
            >
              <mat-icon>email</mat-icon>
              <span>{{
                "invoice.invoice-table.send-by-email" | translate
              }}</span>
            </button>
            <button
              *ngIf="p(element).cancelar"
              mat-menu-item
              (click)="cancelarFactura(element._id)"
            >
              <mat-icon>cancel</mat-icon>
              <span
                >{{ "invoice.invoice-table.cancel-invoice" | translate }}
              </span>
            </button>
            <button
              *ngIf="p(element).eliminar"
              mat-menu-item
              (click)="deleteFactura(element._id)"
            >
              <mat-icon
                class="icon icon-trash1 icon-only"
                style="font-size: 18px"
              ></mat-icon>
              <span>{{
                "invoice.invoice-table.delete-invoice" | translate
              }}</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        *matRowDef="
          let row;
          columns: displayedColumns
            | paginate
              : {
                  id: 'active',
                  itemsPerPage: page.pageSize,
                  currentPage: page.pageIndex,
                  totalItems: page.total
                }
        "
      ></tr>
    </table>
  </mat-card-content>

  <div class="factura-table__paginator">
    <div class="total">
      {{ "invoice.invoice-table.showing" | translate }} {{ page.pageSize }}
      {{ "invoice.invoice-table.of" | translate }}
      {{ page.total }}
    </div>
    <pagination-controls
      id="active"
      (pageChange)="pagination($event)"
      [previousLabel]="'invoice.invoice-table.prev' | translate"
      [nextLabel]="'invoice.invoice-table.next' | translate"
    ></pagination-controls>
    <div>
      <mat-label>{{
        "invoice.invoice-table.items-per-page" | translate
      }}</mat-label>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="brand-field-1"
      >
        <mat-select
          [(value)]="page.pageSize"
          (selectionChange)="pageChangeEmiter()"
          class="disable-custom-format"
        >
          <mat-option
            [value]="sizeOption"
            *ngFor="let sizeOption of sizeOptions"
            class="brand-option-1"
            >{{ sizeOption }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>
