@import "../../styles/colors";
@import "../../styles/font";
@import "../../styles/variables";

.factura-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 0 16px 32px 16px;
  background: #0a0f14;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $grey;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
}

.factura-table {
  &__content {
    overflow-x: scroll;
    position: relative;
  }

  &__table {
    width: 100%;
    box-shadow: none;
    background: initial;

    .mat-header-cell,
    .mat-cell {
      color: #ededed;
    }

    .mat-header-cell {
      font-family: "Avenir";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;

      > div {
        justify-content: center;
      }
    }

    .mat-cell {
      font-family: "Avenir";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }

    thead th {
      border-bottom-color: #1c232a;
    }

    tbody tr:nth-child(2n) {
      background: linear-gradient(
        90.03deg,
        rgba(13, 18, 23, 0.4) 0.86%,
        rgba(35, 37, 40, 0.163875) 51.72%,
        rgba(83, 88, 94, 0.08) 99.51%
      );
    }

    @media (max-width: $small) {
      width: 200%;
    }
  }

  &__table-checkbox {
    width: 32px;
    padding-left: 24px;
  }

  &__table-header {
    font-size: $fs-small;
    padding: 0 8px;
  }

  &__table-body {
    font-size: $fs-small;
    padding: 0 8px;
    text-align: center;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.457px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;

    .total {
      font-family: "Avenir";
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #ededed;
    }

    .ngx-pagination {
      margin-bottom: 0;
      padding-left: 0;

      .pagination-previous,
      .current,
      a,
      button,
      .pagination-next {
        font-family: "Avenir";
        font-size: 12px;
        font-weight: 500;
        color: #ededed;
        text-transform: uppercase;
      }

      .pagination-previous.disabled,
      .pagination-next.disabled {
        color: #494c50;
      }

      a:hover {
        color: black;
      }

      li.current {
        background: unset;
        font-weight: 500;
        text-decoration: underline;
      }

      .pagination-previous.disabled::before,
      .pagination-previous a::before,
      .pagination-next.disabled::after,
      .pagination-next a::after {
        font-family: "bego-icons" !important;
        font-style: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
      }

      .pagination-previous.disabled::before,
      .pagination-previous a::before {
        content: "" !important;
        transform: translateY(1px);
      }

      .pagination-next.disabled::after,
      .pagination-next a::after {
        content: "";
        transform: translateY(1px);
      }
    }

    .mat-form-field-outline:first-child {
      border: 1px solid #1c232a;
      box-shadow: inset -2px -2px 4px #1c232a, inset 4px 4px 4px #02070b;
      border-radius: 4px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      width: 3rem;
      padding: 0.8rem 0 0.5rem;
      border-top: unset;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-select-value {
      color: #ededed;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-align: center;
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: unset;
    }

    .mat-select-arrow {
      color: #ededed;
    }

    mat-label {
      margin-right: 1em;
      font-family: "Avenir";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #ededed;
    }
  }
}
