
<section>
  <div class="total-price-container">
    <div class="total-price-box">{{ 'checkout.label-total-price' | translate }}<span>${{totalPrice | number : '1.2-2'}}</span><sup>MXN</sup></div>
  </div>
  <swiper
    [effect]="'coverflow'"
    [autoHeight]="true"
    [grabCursor]="false"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [allowTouchMove] ="false"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 500,
      modifier: 1,
      slideShadows: false
    }"
    [pagination]="pagination"
    [navigation]="true"
    class="mySwiper"
    (swiper)="onSwiper($event)"
    (indexChange)="onSlideChange($event)"
  >
    <ng-template swiperSlide class="custom-class" [zoom]="true">
      <app-insurance
      (getInsurance)="getInsurance($event)"
      (cargoValues)="getInsuranceCost($event)"
      [totalInsurance]="totalInsurance"
      [cargoValueSet]="cargoValueSet"
      [slide]="indexSlide"
      ></app-insurance>
    </ng-template>
    <ng-template swiperSlide class="custom-class" [zoom]="true">
      <app-costums-agent
        (getAgentCruce)="getAgentCruce($event)"
        [dataCustomsCruce]="dataCustomsCruce"
        [slide]="indexSlide"
      ></app-costums-agent>
    </ng-template>
  </swiper>
</section>