


section {
  height: calc(100vh - 106px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper {
  // width: 900px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 475px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: #FFBE00;
}

.total-price-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 30px 0 0;

  .total-price-box {
    color: #EDEDED;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    padding: 20px;
    text-transform: capitalize;
   
    span {
      padding: 0 0 0 16px;
      color: #EDEDED;
      font-size: 50px;
      font-weight: 700;
      line-height: 68px;
    }

    sup {
      color: #C1C7D0;
      font-size: 26px;
      font-weight: 700;
      line-height: 36px;
      margin-left: 10px;
    }
  }
}