.payments-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-height: 600px;
    justify-content: center;
    color: #ededed;

    .payments-header {
        position: relative;
        text-align: center;
        margin-bottom: 2rem;

        .close-btn {
            position: absolute;
            right: 10px;
            top: 0px;
            cursor: pointer;

            mat-icon {
                color: rgb(150, 150, 150);
            }
        }
    }

    .payments-body {
        max-width: 400px;
        max-height: 500px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .foreing-container {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            padding-bottom: 1.34375em;
        }
        .price-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        .files-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .files-subcontainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                span {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
    padding-left: 5px;
}