@import '../../../../../styles.scss';

section {
    @include flexbox-align(row, flex-start, flex-end);
    padding-block: 20px;
    width: 100%;
}

.chibibot-yellow-circle {
    border: #FFEE00 solid 1px;
    border-radius: 50%;
    margin-inline-end: 7px;
    width: 72px;
    height: 72px;
    padding: 5px;
}

.chibibot-message-gradient-container {
    @include gradient-background;

    p {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.6;
    }
}
