<bego-modal
  [ngClass]="{ 'first-step': !sended }"
  [enabledBack]="!sended"
  [activatedDone]="sended || validForm"
  (backEmitter)="back()"
  (closeEmitter)="actions($event)"
  [lang]="lang"
  [image]="sended ? 'email' : ''"
  [simple]="
    sended && {
      title: 'Email Sent!',
      subtitle: 'Your email was sent successfully, check your inbox to view the content.'
    }
  ">
  <div class="share-report-container" *ngIf="!sended">
    <span class="title">Personal report</span>
    <p class="subtitle">Enter the email you want to send an updated report</p>

    <div class="input-container" [formGroup]="shareForm">
      <div class="input">
        <span>Full Name*</span>
        <input type="text" placeholder="Type full name" formControlName="name" />
      </div>

      <div class="input">
        <span>Email*</span>
        <input type="text" placeholder="email@gmail.com" formControlName="email" />
      </div>
    </div>
  </div>
</bego-modal>
