<div class="polygon-filter-container">
  <div class="action-btn" [ngClass]="{ 'active-btn': activeFilter }" (click)="activeFilter = !activeFilter">
    <bego-icon icon="begon-filter"></bego-icon>
    <span>Filter</span>
  </div>

  <div
    class="action-btn"
    [ngClass]="{
      'active-btn': options.start_date,
      'disabled-btn': !options.start_date
    }"
    (click)="openShareModal()">
    <bego-icon icon="begon-shared"></bego-icon>
    <span>Share</span>
  </div>

  <ng-container *ngIf="!heatmap && options?.start_date">
    <div class="divider"></div>

    <mat-checkbox class="active-checkbox" color="yellow" (change)="checkedActive($event)">Active drivers the last 24 hours</mat-checkbox>
  </ng-container>
</div>

<bego-polygon-filter
  [ngClass]="{ 'open-filter': activeFilter }"
  [drivers]="drivers"
  [polygons]="polygons"
  [tags]="tags"
  (scrolledToBottom)="loadMoreData($event)"
  (actionEmitter)="selectedAction($event)"></bego-polygon-filter>
