.mat-button-toggle-group.mat-button-toggle-group-appearance-standard{
    background: #0B1117;
    border: 2px solid #171E24;
    box-shadow: inset 4px 4px 10px #040b11;
    border-radius: 8px;
    color: white;
  
  
  
    .mat-button-toggle{
        background-color: transparent;
        color: white;
        min-width: 150px;
  
        &.mat-button-toggle-checked{
            background-color: #ffbe00;
            color: #0B1117;
            border-radius: 8px;
        }
  
    }
  
  }
  
