.mat-select{

    &:not(.disable-custom-format){
			background-color: #040B11;
			border: 2px solid #161B20;
			box-sizing: border-box;
			box-shadow: 0px 1px 4px #040b11, inset -3px -3px 4px #13181e, inset 3px 3px 4px #000000;
			border-radius: 8px;
			padding: 12px;

			.mat-select-arrow-wrapper{

				.mat-select-arrow{
						display: none;
				}

				&::after{
					color: #ededed;
					font-family: 'bego-icons';
					content: '\e932';
				}
			}
    }

		&.mat-select-disabled{
			.mat-select-min-line{
				color: #c1c7d0;
			}
		}


}

.mat-select-panel{

    background: #0B1117;
    box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
    border-radius: 8px;

    .mat-option{
        border-bottom: 1px solid #212427;

        .mat-option-text{
            color: white;
        }

    }


}

.small-input-inner-shadow{
	.mat-select-arrow{
		color: white;
	}
}

//color of options in select
.mat-select-panel .mat-option-text, .mat-select .mat-select-min-line {
    color: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;

}
