<div class="fiscal-document-card-wrapper">
  
  <div #fiscalDocument class="fiscal-document-card" title="Haga clic para cargar un documento">

    <div *ngIf="fileInfo[index]?.fileIsSelected && !fileInfo[index]?.uploadFileStatus?.documentIsBeingUploaded"  >
      <div class="icon icon-trash" [title]="'fiscal-documents.remove-file' | translate" (click)="deleteAlertOpen = true"></div>
    </div>

    <div
      *ngIf="fileInfo[index]?.uploadFileStatus?.documentIsBeingUploaded && !showCheckmarkComponent"
      class="cross-icon cancel-request"
      appClickStopPropagation
      (click)="cancelRequest()"></div>

    <div class="icon-wrapper" (click)="onCardClicked()">
      <div class="plus-icon" [ngClass]="fileInfo[index]?.fileIsSelected || draggingToCard ? 'hidden' : ''">+</div>

      <div class="lottie" [hidden]="!draggingToCard">
        <ng-lottie [options]="dropLottie"> </ng-lottie>
      </div>

      <div [ngClass]="!fileInfo[index]?.fileIsSelected || draggingToCard || fileInfo[index]?.uploadFileStatus?.documentIsBeingUploaded ? 'hidden' : ''">
        <div class="doc-icon">
          {{ fileInfo[index]?.extension }}
        </div>
      </div>

      <svg *ngIf="showCheckmarkComponent" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>

      <div class="circle-progress-wrapper" *ngIf="fileInfo[index]?.uploadFileStatus?.documentIsBeingUploaded">
        <circle-progress
          [percent]="fileInfo[index]?.uploadFileStatus?.currentPercentage || 0"
          [showTitle]="!showCheckmarkComponent"
          [showUnits]="!showCheckmarkComponent">
        </circle-progress>
      </div>
    </div>

    <div class="info">
      <div class="title">
        <span *ngIf="!fileInfo[index]?.fileIsOptional">*</span>
        {{ fileInfo[index]?.text | translate }}
      </div>

      <div class="subtitle">
        {{ fileInfo[index]?.formattedSize }}
      </div>
    </div>
  </div>
</div>

<form>
  <input
    #fileInput
    (change)="fileInputChanged()"
    hidden
    type="file"
    accept="*.cer, *.key" />
</form>

<bego-alert
  *ngIf="deleteAlertOpen"
  [title]="'fiscal-documents.remove-file' | translate"
  (close)="deleteAlertOpen = false"
  [handlers]="deleteAlertHandlers">
  {{ 'fiscal-documents.delete-file-question' | translate }}
  '{{ fileInfo.text | translate }}' {{ 'fiscal-documents.file' | translate }}?
</bego-alert>
