@import "../../../../../styles.scss";

.cargo-details {
  width: 566px;
  margin: 0 50px;

  .title {
    font-size: 25px;
    font-weight: 700;
    margin: 24px 0 46px;
  }

  .quantity {
    text-align: center;

    &-title {
      margin-bottom: 18px;
    }

    ::ng-deep .increment-decrement-container {
      width: 250px;
    }
  }

  bego-search-select {
    width: 70%;
    margin: 72px 0;
  }

  bego-text-area {
    height: 160px;
    width: 75%;
  }
}
