<div class="container">
  <div mat-dialog-title class="unit-details-header">
    <h1>{{ "orders.unit-details-list.title" | translate }}</h1>
    <h2>{{ "orders.unit-details-list.sub-title" | translate }}</h2>
  </div>
  <mat-dialog-content>
    <input
      class="inputSearch"
      type="text"
      placeholder="{{
        loading ? waitInputLabel : ('orders.unit-details-list.slct-unit' | translate)
      }}"
      (keyup)="handleInput($event)"
      [disabled]="loading"
    />
    <mat-select #mySelect [(value)]="selected" panelOpen="true">
      <mat-option *ngFor="let option of selectOptions" [value]="option">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
    <form [formGroup]="unitForm" class="cargo-form">
      <div class="text">{{ "orders.unit-details-list.qty" | translate }}</div>
      <div class="item-cargo">
        <button matRipple (click)="decreament()"><i class="icon icon-minus"></i></button>
        <mat-form-field appearance="standard">
          <input
            matInput
            formControlName="qty"
            type="number"
            name="units"
            min="1"
            max="20"
            pattern="[0-9]*"
          />
        </mat-form-field>
        <button matRipple (click)="increament()"><i class="icon icon-plus"></i></button>
      </div>
      <div class="text">{{ "orders.unit-details-list.description" | translate }}</div>
      <div class="description-cargo">
        <mat-form-field class="input-textarea" appearance="fill">
          <textarea
            matInput
            formControlName="description"
            placeholder="{{ 'orders.unit-details-list.placeholder' | translate }}"
            rows="4"
            touched="touchedFN($event)"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
