@import '/src/styles.scss';

.personal-info{

  .form-container{
    max-width: 700px;
    // margin: 0px auto;
    padding: 15px;

    .row{
      @include fluid('gap', 800px, 1920px, 10px, 80px);
      display: flex;
      margin: 50px 0px;

    }
  }
  
  mat-form-field, bego-phone-input{
    width: 100%;

    ::ng-deep .mat-select.disable-custom-format .mat-select-value {
      color: #ededed;
    }
  }

  ::ng-deep .mat-form-field-appearance-legacy{
    .mat-form-field-infix{
      padding-left: 0px;
    }
  
    .mat-form-field-label-wrapper{
      left: -60px;
    }
  
    .mat-select:not(.mat-select-disabled) .mat-select-arrow {
      color: white;
    }
  }


}

bego-address-autocomplete{
  width: 100%;
}

