<div>
  <bego-ticket [removeHeaderSeparator]="true">
    <div centeredHeader>
      <div class="ticket-row header">
        <div class="title">
          {{ 'checkout.title-invoice' | translate }}
        </div>
        <div class="edit-btn">
          <button 
            mat-button 
            *ngIf="!invoiceFormIsEnabled"
            (click)="editForm()">
              {{ 'checkout.edit' | translate | uppercase }}
          </button>

          <button 
            mat-button 
            *ngIf="invoiceFormIsEnabled"
            (click)="saveForm()" >
            {{ 'checkout.txt-save' | translate | uppercase }}
          </button>
        </div>
      </div>    

    </div>

    <div body>
      
      <form [formGroup]="invoiceForm">

        <!-- full name -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-fullname' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow" >
              <input matInput  formControlName="fullName">
            </mat-form-field>
          </div>
        </div> 

        <!-- phone number -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-phonenumber' | translate }}
          </div>
          <div>
            <bego-phone-input
              design="inner-shadow"
              [phoneFlag]="invoiceForm.value.phoneCode"
              [phoneCode]="invoiceForm.value.dialCode"
              [phoneNumber]="invoiceForm.value.phoneNumber"
              (phoneFlagChange)="changeFlag($event)"
              (phoneCodeChange)="changeCode($event)"
              (phoneNumberChange)="changePhone($event)"
              [disabled]="invoiceForm.disabled">
            </bego-phone-input>
          </div>
        </div> 

        <!-- address -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-address' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow" >
              <input matInput  formControlName="address">
            </mat-form-field>
          </div>
        </div> 

        <!-- email -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-email' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow" >
              <input matInput  formControlName="email">
            </mat-form-field>
          </div>
        </div> 

        <!-- company -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-company' | translate }}
          </div>
          <div>
            <mat-form-field  class="inner-shadow" >
              <input matInput  formControlName="company">
            </mat-form-field>
          </div>
        </div> 



        <!-- rfc -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-rfc' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow"  >
              <input matInput formControlName="rfc">
            </mat-form-field>
          </div>
        </div> 

        <!-- cfdi -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-cfdi' | translate }}
          </div>
          <div>
            <mat-form-field class="small-input-inner-shadow">
              <mat-select 
                class="disable-custom-format"
                formControlName="cfdi"
                (valueChange)="updateCFDI($event)" >
          
                  <mat-option value="select-document" [disabled]="true"> 
                      {{ 'checkout.select-cfdi' | translate }}
                  </mat-option>
          
                  <mat-option *ngFor="let option of CFDIs" [value]="option.code">
                      {{ option.code }} - {{ option.description }}
                  </mat-option>
          
              </mat-select>
            </mat-form-field>
          </div>
        </div> 

      </form>

    </div>
  </bego-ticket>
</div>

