.ticket-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align:left;
  font-size: 18px;
  padding: 17px 0px;
  color: #ededed;

  .address{
    width: 100%;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

.header{
  position: absolute;
  top: -35px;
  width: 100%;
}