<div class="steps">
  <form [formGroup]="step2Form">
    <div class="steps-container">
      <!-- cargo information -->
      <div class="section">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ "orders.title-cargo-info" | translate }}
        </div>
      </div>
      <div
        class="input-selectable-container"
        (click)="showInputSelectorCP('merc')"
        *ngIf="orderWithCP"
      >
        <p class="value-selected" *ngIf="!mercModalSelected">
          <i class="icon icon-search"></i>Selecciona el tipo de mercancía
        </p>
        <p class="value-selected" *ngIf="mercModalSelected">{{ mercModal.viewValue }}</p>
      </div>
      <div class="section section-padding">
        <mat-form-field class="input-calendar" appearance="fill">
          <input
            matInput
            formControlName="datepickup"
            [matDatepicker]="picker"
            [min]="calendar"
            disabled
          />
          <mat-datepicker #picker></mat-datepicker>
          <div class="btn-input-calendar">
            <i class="icon icon-calendar"></i> {{ creationDatePickupLabel }}
            <i class="icon icon-down"></i>
          </div>
        </mat-form-field>

        <div class="input-timer">
          <i class="icon icon-timer"></i>
          <!-- <ngx-timepicker-field [controlOnly]="true" (timeChanged)="timeChange($event)" formControlName="timepickup"></ngx-timepicker-field> -->
          <timepicker
            [formControlName]="'timepickup'"
            class="timepicker"
            (isValid)="timepickerValid($event)"
            [hourStep]="1"
            [minuteStep]="1"
            [min]="minTime"
            disabled="true"
          ></timepicker>
        </div>
      </div>

      <div class="section section-padding">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ "orders.txt-select-units" | translate }}
        </div>

        <div class="select-units-input">
          <div class="input-increment">
            <i class="icon icon-minus" (click)="editUnits()"></i>
            <div>{{ quantityunits }}</div>
            <i class="icon icon-plus" (click)="editUnits()"></i>
          </div>
          <mat-button-toggle-group
            formControlName="unitType"
            (change)="selectedUnits($event)"
          >
            <mat-button-toggle value="53"> 53 </mat-button-toggle>
            <mat-button-toggle value="48"> 48 </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="section section-padding right" *ngIf="editWeight">
        <div class="btn-weight" (click)="editUnits()">
          <i class="icon icon-plus"></i
          ><span>{{ "orders.btn-edit-weight" | translate }}</span>
        </div>
      </div>

      <!--  select cargo -->
      <div class="section select-cargo-section">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ "orders.txt-select-cargo" | translate }}
        </div>

        <div>
          <mat-button-toggle-group
            formControlName="cargoType"
            (change)="setCargoType($event)"
          >
            <mat-button-toggle value="general">
              {{ "orders.btn-general" | translate }}
            </mat-button-toggle>
            <mat-button-toggle value="hazardous">
              {{ "orders.btn-hazardous" | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="section" style="flex-direction: column">
        <div class="selectableHazard" *ngIf="cargoType == 'hazardous'">
          <div
            class="input-selectable-container"
            (click)="showInputSelectorCP('pack')"
            *ngIf="orderWithCP"
          >
            <p class="value-selected" *ngIf="!packModalSelected">
              <i class="icon icon-search"></i>Selecciona tu embalaje
            </p>
            <p class="value-selected" *ngIf="packModalSelected">
              {{ packModal.viewValue }}
            </p>
          </div>
          <div
            class="input-selectable-container"
            (click)="showInputSelectorCP('hzrd')"
            *ngIf="orderWithCP"
          >
            <p class="value-selected" *ngIf="!hzrdModalSelected">
              <i class="icon icon-search"></i>Selecciona el tipo de carga peligrosa
            </p>
            <p class="value-selected" *ngIf="hzrdModalSelected">
              {{ hzrdModal.viewValue }}
            </p>
          </div>
        </div>
        <div class="hazardous-container" *ngIf="cargoType == 'hazardous'">
          <div class="hazardous-input">
            <mat-select formControlName="hazardous_type" [(value)]="hazardous_type">
              <mat-option value="select-catergory" [disabled]="true">
                {{ "orders.choose-category" | translate }}
              </mat-option>

              <mat-option *ngFor="let option of hazardousList" [value]="option.key">
                {{ option.text }}
              </mat-option>
            </mat-select>

            <mat-form-field class="input-textarea" appearance="fill">
              <textarea
                matInput
                rows="1"
                formControlName="hazardousUn"
                [placeholder]="'orders.placeholder-un' | translate"
              >
              </textarea>
            </mat-form-field>
          </div>

          <div>
            <bego-drag-file-bar
              #fileBar
              (fileOutput)="selectHazardousFile($event)"
              (deleteFile)="dropHazardousFile()"
              [disabled]="hazardousType == 'select-catergory'"
              [displayFileLoaded]="true"
            >
              <div class="hazardous-drag-file-container">
                {{ "fiscal-documents.drag-files" | translate }}
                <span
                  (click)="fileBar.clickFileInputElement()"
                  class="browse-btn"
                  [ngClass]="hazardousType == 'select-catergory' ? 'disabled' : ''"
                >
                  {{ "fiscal-documents.browse" | translate }}
                </span>
              </div>
            </bego-drag-file-bar>
          </div>
        </div>
      </div>

      <!-- cargo description -->
      <div class="section">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ "orders.txt-cargo" | translate }}
        </div>
      </div>
      <div class="section section-padding">
        <mat-form-field class="input-textarea textarea" appearance="fill">
          <textarea
            matInput
            class="comments"
            placeholder=""
            rows="4"
            formControlName="description"
            (click)="orderWithCP && showUnitDetailsModal()"
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
