<div class="steps">
  <form [formGroup]="step2Form">
    <div class="steps-container">
      <bego-search-select
        *ngIf="orderWithCP"
        [debounce]="500"
        [catalogs]="cargoCatalog"
        (searchValueChange)="getCargoTypeList($event)"
        (catalogValueChange)="updateForm('cargo_goods', $event)"
        [inputPlaceHolder]="'orders.slct-input-cargo_goods' | translate"></bego-search-select>

      <div class="field section">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ 'orders.txt-select-units' | translate }}
        </div>

        <div class="select-units-input">
          <bego-increment-decrement [units]="quantityunits" (changeUnits)="updateQuantityUnits($event)"></bego-increment-decrement>

          <bego-button-toggle
            (statusChanged)="selectedUnits($event)"
            [enabled]="step2Form.get('unitType').value === unitsData.second.value"
            [noPadding]="true"
            [first]="unitsData.first"
            [second]="unitsData.second"></bego-button-toggle>
        </div>
      </div>

      <div class="field section right">
        <div class="btn-weight" (click)="editUnits()">
          <i class="icon icon-plus"></i
          ><span>{{ !editWeight ? ('orders.btn-add-weight' | translate) : ('orders.btn-edit-weight' | translate) }}</span>
        </div>
      </div>

      <!--  select cargo -->
      <div class="field section select-cargo-section">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ 'orders.txt-select-cargo' | translate }}
        </div>

        <bego-select [(selected)]="cargoType">
          <bego-select-item value="general" (click)="setCargoType('general')">
            <bego-icon icon="begon-truck"></bego-icon>
            {{ 'orders.btn-general' | translate }}
          </bego-select-item>

          <bego-select-item value="hazardous" (click)="setCargoType('hazardous')">
            <bego-icon icon="begon-truck"></bego-icon>
            {{ 'orders.btn-hazardous' | translate }}
          </bego-select-item>
        </bego-select>
      </div>

      <div class="field selectableHazard" *ngIf="cargoType == 'hazardous'">
        <div class="selectableHazard-details">
          <bego-search-select
            [debounce]="500"
            [catalogs]="categoryCatalog"
            (catalogValueChange)="updateForm('hazardous_type', $event)"
            [inputPlaceHolder]="'orders.choose-category' | translate"></bego-search-select>

          <ng-container *ngIf="orderWithCP" )>
            <bego-search-select
              [debounce]="500"
              [catalogs]="packagingCatalog"
              (searchValueChange)="getPackagingList($event)"
              (catalogValueChange)="updateForm('packaging', $event)"
              [inputPlaceHolder]="'orders.slct-input-packaging' | translate"></bego-search-select>
            <bego-search-select
              [debounce]="500"
              [catalogs]="hazardousCatalog"
              (searchValueChange)="getHazardousTypeList($event)"
              (catalogValueChange)="updateForm('hazardous_material', $event)"
              [inputPlaceHolder]="'orders.slct-input-hzrd_material' | translate"></bego-search-select>
          </ng-container>
        </div>

        <bego-drag-drop
          [maxSize]="10000000"
          [lang]="fileLang"
          [fileInfo]="fileInfo"
          [disabled]="hazardousType == 'select-catergory'"
          (fileSelected)="selectHazardousFile($event)"></bego-drag-drop>
      </div>

      <div class="field cargo-description">
        <div class="section-title">
          <span class="asterisk">*</span>
          {{ 'orders.txt-cargo' | translate }}
        </div>

        <bego-text-area
          keyValue="description"
          [customPlaceholder]="'orders.placeholder-cargo' | translate"
          [customTextarea]="orderWithCP"
          [defaultValue]="step2Form.get('description')!.value"
          (openModal)="orderWithCP && showUnitDetailsModal()"
          (sendData)="setCargoDescirption($event)"></bego-text-area>
      </div>
    </div>
  </form>
</div>
