<div class="steps">
  <form [formGroup]="step2Form">
    <div class="steps-container">
      <h2 class="formgroup-title-required">{{ 'orders.title-personal-info' | translate }}</h2>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-fullname' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="fullname"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-fullname' | translate"></bego-input>
      </div>

      <div class="field">
        <bego-phone-code-select
          [flag]="phoneFlag"
          [selectedPhoneCode]="phoneCode"
          (sendValues)="updateFormPhoneCode($event)"></bego-phone-code-select>
        <bego-input
          type="phone"
          [setValue]="phoneNumber"
          (value)="phoneNumberChangeValue($event)"
          [placeholder]="'bego-phone-input.phone' | translate"></bego-input>
      </div>

      <div class="field">
        <bego-label-input size="small" textLabel="Email*"></bego-label-input>
        <bego-input keyValue="email" (value)="updateFormGroup($event)" [placeholder]="'orders.placeholder-mail' | translate"></bego-input>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" textLabel="RFC*"></bego-label-input>
        <bego-input keyValue="rfc" (value)="updateFormGroup($event)" [placeholder]="'orders.placeholder-rfc' | translate"></bego-input>
      </div>

      <div class="aditional-details">
        <h2 class="formgroup-title">{{ 'history.history_detail.aditional_details' | translate }}</h2>

        <bego-text-area
          keyValue="extra_notes"
          [customPlaceholder]="'orders.placeholder-notes' | translate"
          (sendData)="updateFormGroup($event)"></bego-text-area>
      </div>
    </div>
  </form>
</div>
