@import '~/src/styles';

.new-order-wrapper {
  margin-top: 125px;
  margin-right: 50px;
  display: flex;
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: calc(50px + #{$bego-menu-width});
  pointer-events: none;
  z-index: 2;
  overflow: hidden;

  .new-order-details {
    flex-grow: 1;
    pointer-events: none;
  }

  .input-directions {
    background: #0b1117;
    box-shadow: inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
    border-radius: 8px;
    width: 400px;
    height: 80vh;
    overflow-y: hidden;
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    overflow: auto;
  }
}

// copied from _home.scss
::ng-deep {
  .map {
    &.map-container {
      position: relative;
    }

    .customMarker {
      position: absolute;
      cursor: pointer;
      background: $yellow-color;
      width: 50px;
      height: 50px;
      /* -width/2 */
      margin-left: -25px;
      /* -height + arrow */
      margin-top: -25px;
      border-radius: 50%;
      padding: 0px;

      &.inactive-marker {
        filter: grayscale(100%);
      }

      &.available-marker {
        background: #6dd400;
      }

      &.unavailable-marker {
        background: #de473c;
      }
    }

    .customMarker img {
      width: 44px;
      height: 44px;
      margin: 3px;
      border-radius: 50%;
      background: #040b12;
      object-fit: cover;
    }

    #reset {
      position: absolute;
      bottom: -150px;
      right: calc(400px + 10px);
      border: none;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      pointer-events: all;

      i {
        font-size: 2rem;
        color: #ededed;
      }

      &.reset-up {
        bottom: 10px;
      }
    }
  }
}

.google-map {
  height: calc(100vh - 106px);
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &.map-faded-out {
    opacity: 0;
    pointer-events: none;
    // display: none;
  }

  &.transparent {
    height: 100vh;
  }
}
