<section>
    <app-app-threads class="conversation-component" ></app-app-threads>
    <!--
    text area and frecuent promps component should be here
    -->
    <!--
    <button (click)="logMessages()">Mostrar mensajes en la consola</button>
    -->
    
</section>

<!--
<section>
    <app-app-threads class="conversation-component" [messages]="messages"></app-app-threads>
    
    <div class="input-container">
        <form (ngSubmit)="createChat()">
            <textarea [(ngModel)]="messageToSend" name="messageToSend"></textarea>
            <button type="submit">send :3</button>
        </form>
    </div>
</section>
-->