<section [ngClass]=" parent.showOrderDetails ?  'order-details-open' : '' ">

  <div
    class="input-directions-component"
    [ngClass]="[parent.showOrderDetails ? 'show-map' : '', hideMap ? 'hide-map' : '']"
    >
    <div>
      <div class="directions" [ngClass]=" hideMap ? 'hide-line' : ''">
        <div class="input-container" [ngClass]="hideType === 'dropoff' ? 'hide-input' : ''">
            <label>{{'location.label_pickup' | translate}}</label>
            <input
                #pickup
                type="search"
                [(ngModel)]="autocompletePickup.input"
                (search)="ClearAutocompletePickup()"
                (focusout)="focusOutInputPickup()"
                (keyup)="UpdateSearchResultsPickup($event)"
                [placeholder]="'location.placeholder' | translate"
            >
        </div>
        <div class="input-container" [ngClass]="hideType === 'pickup' ? 'hide-input' : ''">
            <label>{{'location.label_dropoff' | translate}}</label>
            <input
                #dropoff
                type="search"
                [(ngModel)]="autocompleteDropoff.input"
                (search)="ClearAutocompleteDropoff()"
                (focusout)="focusOutInputDropoff()"
                (keyup)="UpdateSearchResultsDropoff($event)"
                [placeholder]="'location.placeholder' | translate"
            >
        </div>
      </div>
      <!-- <div class="saved-locations">
        <div class="container-buttons">
            <bego-button class="btn-black icon icon-home" text="Home"></bego-button>
            <bego-button class="btn-black icon icon-work" text="Work"></bego-button>
        </div>
        <bego-button class="btn-list" text="My Saved Locations"></bego-button>
    </div> -->
      <div
        class="list-address-container"
        [hidden]="
          autocompleteItemsDropoff.length == 0 ||
          autocompleteItemsPickup.length !== 0
        "
      >
        <!-- <div class="item-pin" >
          <div class='item-location'>
            <div class='icon icon-pin'></div>
            <div class="list-map">{{'location.label_pin' | translate}}</div>
          </div>
        </div> -->
        <div
          *ngFor="let item of autocompleteItemsDropoff"
          (click)="selectSearchResultDropoff(item)"
        >
          <div class="item-location">
            <div class="list-icon-address">
              <img
                [src]="
                  savedPlaces?.has(item.place_id)
                    ? '/assets/images/maps/marker-fav-on.svg'
                    : '/assets/images/maps/marker-fav-off.svg'
                "
                alt="Location marker icon"
              />
            </div>
            <div class="list-address">
              <span>{{ item.description | splitGoogleAddress }},</span>
              {{ item.description | splitGoogleAddressSecond }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="list-address-container"
        [hidden]="
          autocompleteItemsPickup.length == 0 ||
          autocompleteItemsDropoff.length !== 0
        "
      >
        <!-- <div detail='false' class="item-pin" >
          <div class='item-location'>
            <div class='list-icon-pin'></div>
            <div class="list-map">{{'location.label_pin' | translate}}</div>
          </div>
        </div> -->
        <div
          *ngFor="let item of autocompleteItemsPickup"
          (click)="selectSearchResultPickup(item)"
        >
          <div class="item-location">
            <div
              class="list-icon-address"
              (click)="togglePlace(item.place_id, $event)"
            >
              <img
                [src]="
                  savedPlaces?.has(item.place_id)
                    ? '/assets/images/maps/marker-fav-on.svg'
                    : '/assets/images/maps/marker-fav-off.svg'
                "
                alt="Location marker icon"
              />
            </div>
            <div class="list-address">
              <span>{{ item.description | splitGoogleAddress }},</span>
              {{ item.description | splitGoogleAddressSecond }}
            </div>
          </div>
        </div>
      </div>
      <div class="list-address-container" *ngIf="invalidAddressPickup">
        <!-- <div detail='false' >
          <div class='item-location'>
            <div class='list-icon-pin'></div>
            <div class="list-map">{{'location.label_pin' | translate}}</div>
          </div>
        </div> -->
        <div (click)="ClearAutocompletePickup()">
          <div class="item-location">
            <div class="list-icon-error"></div>
            <div class="list-address-error">
              <span>{{ 'location.txt-address-not-found' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        #btnOrder
        class="list-address-container"
        *ngIf="invalidAddressDropoff"
      >
        <!-- <div detail='false' >
          <div class='item-location'>
            <div class='list-icon-pin'></div>
            <div class="list-map">{{'location.label_pin' | translate}}</div>
          </div>
        </div> -->
        <div (click)="ClearAutocompleteDropoff()">
          <div class="item-location">
            <div class="list-icon-error"></div>
            <div class="list-address-error">
              <span>{{ 'location.txt-address-not-found' | translate }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="assigned-date-time-container" *ngIf="pickupSelected && dropoffSelected">

        <div class="assigned-date-time-row">
          <form [formGroup]="orderForm">
            <p class="assigned-time-title">Assigned time & date</p>
            <mat-form-field class="input-calendar" appearance="fill">
              <mat-datepicker #picker></mat-datepicker>
              <div class="btn-input-calendar" (click)="picker.open()">
                <input type="radio" name="" id="">
                <p>Schedule to:</p>
                <input class="date-input" matInput formControlName="datepickup" [matDatepicker]="picker" (dateChange)="addEvent('change', $event)" [min]="calendar" placeholder="MM/DD/YY">
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </mat-form-field>

            <div class="input-timer">
                <timepicker
                  [formControlName]="'timepickup'"
                  class="timepicker"
                  (isValid)="timepickerValid($event)"
                  [hourStep]="1"
                  [minuteStep]="1"
                  [min]="minTime"
                  [showMeridian]="ismeridian"
                  (meridianChange)="dateChange($event)"
                  *ngIf="!destroyPicker"
                ></timepicker>
            </div>

            <div class="eta-container">
              <p>Aprox Time Load</p>
              <p>{{aproxETA}} hrs</p>
            </div>
          </form>
        </div>
      </div>

      <div class="fleet-info-container" *ngIf="isDatesSelected">
        <div class="fleet-drivers-row">
          <p>Available drivers</p>
          <div class="drivers-container">
            <ng-container *ngFor="let driver of drivers; let i = index">
              <app-circular-avatar
                [data]="driver"
                title="drivers"
                *ngIf="i < 4"
                (click)="selectMembersForOrder(driver, 'drivers', i)">
              </app-circular-avatar>
            </ng-container>
            <div 
              class="rest-of-members" 
              *ngIf="drivers.length > 4"
              (click)="showFleetContainer('drivers')" >
              <p>+{{drivers.length - 4 }}</p>
            </div>
          </div>
        </div>

        <div class="fleet-trucks-row">
          <p>Trucks</p>
          <div class="trucks-container">
            <ng-container *ngFor="let truck of trucks; let i = index">
              <app-circular-avatar 
                [data]="truck"
                title="trucks"
                *ngIf="i < 4"
                (click)="selectMembersForOrder(truck, 'trucks', i)">
              </app-circular-avatar>
            </ng-container>
            <div 
              class="rest-of-members" 
              *ngIf="trucks.length > 4"
              (click)="showFleetContainer('trucks')" >
              <p>+{{trucks.length - 4}}</p>
            </div>
          </div>
        </div>

        <div class="fleet-trailers-row">
          <p>Trailers</p>
          <div class="trailers-container">
            <ng-container *ngFor="let trailer of trailers; let i = index">
              <app-circular-avatar
                [data]="trailer"
                title="trailers"
                *ngIf="i < 4"
                (click)="selectMembersForOrder(trailer, 'trailers', i)">
              </app-circular-avatar>
            </ng-container>
            <div class="rest-of-members" *ngIf="trailers.length > 4" (click)="showFleetContainer('trailers')">
              <p>+{{trailers.length -4 }}</p>
            </div>
          </div>
        </div>
      </div>

      <bego-button 
        *ngIf="!hideMap && !showFleetMembersContainer && canGoToSteps"
        [disabled]="!pickupSelected || !dropoffSelected || isDatesSelected"
        (click)="openNewOrderMenu()"
        class="btn-yellow"
        [text]="'location.btn-order' | translate">
      </bego-button>
      
    <!--  <bego-button
        *ngIf="hideMap"
        (click)="cancelChangeLocations()"
        class="btn-yellow"
        [text]="'orders.btn-cancel' | translate">
      </bego-button> -->
  
    </div>
  
    <div class="map-preview" *ngIf="!showFleetMembersContainer && canGoToSteps">

      <bego-button
        [disabled]="!pickupSelected || !dropoffSelected ||showFleetMembersContainer"
        (click)="openNewOrderMenu()"
        class="btn-yellow"
        [text]="'location.btn-order' | translate"
      >
      </bego-button>
    </div>

    <div class="map-preview">
      <bego-map [typeMap]="typeMap"> </bego-map>
    </div>
  </div>

  <app-fleet-members 
    [ngClass]="showFleetMembersContainer ? 'show-fleet-members' : ''" 
    [titleFleetMembers]="titleFleetMembers"  >
    <ng-container *ngFor="let fleet of fleetData">
      <app-member-card-selection 
        [data]="fleet"
        [titleFleetMembers]="titleFleetMembers"
        (sendMemberSelected)="getMemberSelected($event)" ></app-member-card-selection>
    </ng-container>

    <bego-button 
      class="btn-yellow select-fleet-members"
      text="Seleccionar"
      (click)="closeFleetMembers(titleFleetMembers)" >
    </bego-button>
  </app-fleet-members>
</section>
