// .app-facturas-page {
//   .page-header {
//     margin: 24px 54px 24px 54px;
//     display: flex;
//     justify-content: space-between;

//     h1 {
//       font-weight: 400;
//       font-size: 38.4px;
//       color: #b9b9b9;
//       line-height: 1;
//       letter-spacing: -0.2186px;
//     }

//     .mat-form-field-appearance-outline .mat-form-field-infix {
//       padding: 0.5em 0;
//     }

//     .mat-form-field-wrapper {
//       padding-bottom: 0;
//     }
//   }

//   .filters {
//     padding: 0 16px;
//     margin-bottom: 8px;
//     display: grid;
//     justify-content: flex-end;
//     grid-auto-flow: column;
//     grid-gap: 1rem;

//     .mat-form-field-appearance-outline .mat-form-field-infix {
//       padding: 0.5em 0;
//     }

//     .mat-form-field-wrapper {
//       padding-bottom: 0;
//     }
//   }

//   .mat-form-field.suffix-btn {
//     .mat-form-field-suffix {
//       top: -3px;

//       button {
//         max-height: 30px;
//         max-width: 110px;
//         min-width: 110px;
//         margin-right: -6px !important;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }

//   .green-color {
//     color: #ffffff;
//     background-color: #3cd4a0;
//     &:hover {
//       background-color: #3cd4a0;
//     }
//   }

//   .toolbar-right {
//     display: flex;
//     align-items: center;

//     button {
//       margin: 0 12px;

//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }
// }

// //GLOBAL

// .mat-option.brand-option-2 {
//   height: auto;
//   padding: 8px 16px;

//   .mat-option-text {
//     display: inline-flex;
//     align-items: center;

//     > img {
//       display: block;
//       width: 40px;
//       height: 40px;
//       min-width: 40px;
//       border-radius: 50%;
//     }

//     > a {
//       margin-left: 8px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       line-height: normal;
//       flex: 1;

//       .mat-icon {
//         margin-right: 0;
//         padding: 0;
//         font-size: 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }
//   }

//   &.mat-active,
//   &.mat-active.mat-selected {
//     background: rgba(255, 255, 255, 0.03);
//     border-left: 1px solid #ffbe00;
//   }

//   &[disabled] {
//     padding-top: 0;
//     padding-bottom: 0;
//     color: rgba(0, 0, 0, 0.38);
//     font-size: 14px;
//     background-color: transparent;
//   }
// }

// .cdk-overlay-backdrop.dialog-filters {
//   & + * {
//     > .cdk-overlay-pane {
//       width: auto;
//       margin-left: calc(80px + 54px);
//       margin-right: auto;
//       max-width: clamp(600px, 80vw, 70rem) !important;
//     }
//   }
// }

app-fleet-browser {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  .app-fleet-browser {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 280px;
      grid-gap: 3rem;

      .main {
        .header {
          position: relative;
          padding-bottom: 1.3rem;
          margin-bottom: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #1c232a;

          h1 {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            color: #ededed;

            span {
              margin-left: 8px;
              font-weight: 400;
              font-size: 16px;
              color: #c1c7d0;
            }
          }

          .actions {
            display: flex;
            gap: 1rem;

            .search {
              display: flex;
              align-items: center;
              background: linear-gradient(180deg, #080f15 0%, #171d23 100%);
              border: 3px solid #10161c;
              box-shadow: inset 3px 3px 8px 3px #111416;
              border-radius: 30.5px;
              margin-left: 10px;
              min-height: 43px;

              .icon-search {
                margin-left: 12px;
                margin-right: 20px;
                font-size: 15px;
              }

              input {
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: white;

                &::placeholder {
                  color: #7c7c7c;
                }
              }
            }
          }
        }

        .controls {
          margin-bottom: 2rem;
          display: flex;

          .left {
            flex: 1;

            mat-label {
              margin-right: 8px;
              font-family: 'Avenir';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 27px;
              color: #585b60;
            }

            .mat-select {
              width: 100%;
              max-width: 150px;

              .mat-select-value-text,
              .mat-select-arrow {
                color: #ededed;
              }

              .mat-select-value-text {
                font-size: 14px;
                font-family: 'Avenir';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
              }
            }
          }

          .right {
            .mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
              min-width: initial;

              .mat-button-toggle {
                min-width: 50px;

                .mat-button-toggle-label-content {
                  line-height: initial;
                }

                &.mat-button-toggle-checked {
                  min-width: 60px;
                }
              }
            }
          }
        }

        .content {
          margin-bottom: 2rem;
          overflow: hidden;
          // max-width: 800px;

          > .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            grid-gap: 2rem 3rem;
          }

          > .list {
            margin-top: -16px;
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .total {
            font-family: 'Avenir';
            font-size: 14px;
            letter-spacing: 0.5px;
            color: #ededed;
          }

          .pagination {
            display: flex;
            align-items: center;
            position: relative;
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #ededed;

            .icon-back {
              margin-right: 10px;
              cursor: pointer;
            }

            .pagination-back {
              padding-right: 8px;
              border-right: 0.5px solid #ededed;
              cursor: pointer;
            }

            .pagination-next {
              padding-left: 8px;
              border-left: 0.5px solid #ededed;
              cursor: pointer;
            }

            .current-pagination {
              display: flex;
              align-items: center;
              padding: 0 7px;
              cursor: pointer;
            }

            .icon-triangle-down {
              margin-left: 4px;
              font-size: 8px;
            }

            .icon-next {
              margin-left: 10px;
              cursor: pointer;
            }

            .select-page {
              position: absolute;
              display: flex;
              flex-direction: column;
              background: black;
              padding: 10px;
              left: 65px;
              cursor: pointer;
              transition: 10s ease-in;

              & p {
                padding: 5px;
              }
            }

            .desactivated {
              pointer-events: none;
              color: #494c50;
            }
          }

          .limit {
            .mat-form-field-outline:first-child {
              border: 1px solid #1c232a;
              box-shadow: inset -2px -2px 4px #1c232a, inset 4px 4px 4px #02070b;
              border-radius: 4px;
            }

            .mat-form-field-appearance-outline .mat-form-field-infix {
              width: 3rem;
              padding: 0.8rem 0 0.5rem;
              border-top: unset;
            }

            .mat-form-field-wrapper {
              padding-bottom: 0;
            }

            .mat-select-value {
              color: #ededed;
              font-size: 14px;
              letter-spacing: 0.5px;
              text-align: center;
            }

            .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
              transform: unset;
            }

            .mat-select-arrow {
              color: #ededed;
            }

            mat-label {
              margin-right: 1em;
              font-family: 'Avenir';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              letter-spacing: 0.5px;
              color: #ededed;
            }
          }
        }
      }

      .sidebar {
        margin-top: 80px;
        padding: 40px 25px;
        background: #0b1117;
        box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
        border-radius: 8px;
        color: #ededed;
        // min-width: 280px;
      }
    }
  }
}
