<!-- <div class="app-facturas-page">
  <div class="page-header" role="heading">
    <div>
      <button
        mat-flat-button
        class="brand-btn-1 radius-30"
        (click)="openFilters()"
        style="z-index: 10000"
        [matBadge]="filtersCount(vm.params)"
        matBadgeColor="warn"
        matBadgeSize="small"
        matBadgeOverlap="true">
        {{ 'invoice.invoices.filters' | translate }}
        <img src="/assets/images/invoice/filters.svg" class="brand-filter-1" style="margin-left: 4px" />
      </button>
    </div>
    <div class="toolbar-right">
      <button mat-flat-button class="brand-btn-1" [routerLink]="routes.EMISORES">
        {{ 'invoice.invoices.emisor-btn' | translate }}
      </button>

      <mat-form-field *ngIf="0" appearance="outline" floatLabel="always" class="suffix-btn" style="max-width: 245px">
        <input
          matInput
          aria-label="Template"
          name="template"
          [ngModel]="vm.template"
          (ngModelChange)="facturasEmitter.next(['template:search', (vm.template = $event)])"
          maxlength="13"
          [placeholder]="'invoice.invoices.template-placeholder' | translate"
          [matAutocomplete]="auto"
          (keydown.enter)="
            vm.template &&
              vm.searchAction?.type === 'template' &&
              !vm.searchLoading &&
              vm.receptorSearch?.template?.length === 0 &&
              router.navigate([
                routes.NEW_TEMPLATE,
                {
                  template: makeTemplate({
                    name: vm.template
                  })
                }
              ])
          " />

        <mat-progress-bar
          style="bottom: 0px; position: absolute; width: calc(100% + 16px); height: 2px; left: -9px"
          [style.display]="vm.searchAction?.type === 'template' && vm.searchLoading ? 'block' : 'none'"
          class="brand-progress-bar-1"
          mode="indeterminate"></mat-progress-bar>

        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="
            router.navigate([
              routes.NEW_FACTURA,
              {
                template: $event.option._element.nativeElement.dataset.template
              }
            ])
          ">
          <mat-option
            *ngFor="let template of vm.receptorSearch?.template"
            [value]="template.name"
            class="brand-option-2"
            [attr.data-template]="makeTemplate(template)"
            [routerLink]="[routes.NEW_FACTURA, { template: makeTemplate(template) }]">
            <a [routerLink]="[routes.NEW_FACTURA, { template: makeTemplate(template) }]" style="color: inherit; text-decoration: unset">
              {{ template.name }}
              <mat-icon
                (click)="
                  $event.stopPropagation();
                  $event.preventDefault();
                  router.navigate([
                    routes.EDIT_TEMPLATE,
                    {
                      id: template._id
                    }
                  ])
                ">
                edit
              </mat-icon>
            </a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-flat-button
        class="brand-btn-2"
        [routerLink]="
          vm.defaultEmisor?.[0]
            ? vm.template && vm.receptorSearch?.template?.length === 0
              ? [
                  routes.NEW_TEMPLATE,
                  {
                    template: makeTemplate({
                      name: vm.template
                    })
                  }
                ]
              : [routes.NEW_FACTURA]
            : null
        "
        (click)="!vm.defaultEmisor?.[0] && noEmisorAlert()"
        [style.pointer-events]="vm.receptorSearch?.template?.length > 0 ? 'none' : 'unset'">
        {{
          vm.template && vm.receptorSearch?.template?.length === 0
            ? ('invoice.invoices.template-new' | translate)
            : vm.template && vm.receptorSearch?.template?.length > 0
            ? ('invoice.invoices.template-open' | translate)
            : ('invoice.invoices.new-invoice' | translate)
        }}
      </button>
    </div>
  </div>

  <div>
    <app-factura-table
      [orderTableData]="vm.facturas"
      [loading]="vm.facturasLoading"
      [page]="paginator"
      (pageChange)="
        router.navigate([], {
          relativeTo: route,
          queryParams: {
            limit: $event.pageSize,
            page: $event.pageIndex
          },
          queryParamsHandling: 'merge'
        })
      "
      (refresh)="facturasEmitter.next(['refresh'])"></app-factura-table>
  </div>
</div>
 -->

<div class="app-fleet-browser">
  <div class="wrapper">
    <div class="main">
      <div class="header">
        <h1>
          {{ 'fleet.' + resolver.lang + '.txt_header' | translate }}
          <span>{{ vm.facturas?.length ?? '-' }}</span>
        </h1>
        <div class="actions">
          <button mat-flat-button class="brand-btn-2" [routerLink]="[routes.NEW_MEMBER]" (click)="(1)">
            {{ 'fleet.' + resolver.lang + '.btn_add' | translate }}
          </button>

          <div class="search">
            <i class="icon icon-search"></i>
            <input
              type="search"
              [placeholder]="'fleet.' + resolver.lang + '.txt_search' | translate"
              [value]="vm.params?.search || ''"
              (input)="navigate({ search: $event.target.value, page: 1 })" />
          </div>
        </div>

        <mat-progress-bar
          [style.display]="vm.fleetId == null || vm.facturasLoading ? 'block' : 'none'"
          style="position: absolute; bottom: -2px; height: 2px"
          class="brand-progress-bar-1"
          mode="indeterminate"></mat-progress-bar>
      </div>

      <div class="controls">
        <div class="left">
          <mat-label>{{ 'fleet.txt_sort' | translate }}</mat-label>
          <mat-select [value]="vm.params?.sort" (selectionChange)="navigate({ sort: $event.value, page: 1 })" class="disable-custom-format">
            <mat-option *ngFor="let option of resolver.sortBy" [value]="option.value" class="brand-option-1"
              >{{ 'fleet.' + resolver.lang + '.sort_by.' + option.key | translate }}
              {{ option.sort.slice(0, 1).toUpperCase() + option.sort.slice(1) }}
            </mat-option>
          </mat-select>
        </div>

        <div class="right">
          <mat-button-toggle-group (change)="facturasEmitter.next(['view:set', $event.value])">
            <mat-button-toggle [checked]="vm.view === 'list'" value="list">
              <i class="icon icon-list1"></i>
            </mat-button-toggle>
            <mat-button-toggle [checked]="vm.view === 'grid'" value="grid">
              <i class="icon icon-cards"></i>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="content">
        <div *ngIf="vm.view === 'grid'" class="grid">
          <ng-container *ngIf="model === 'members'">
            <app-member-card *ngFor="let data of vm.facturas" [data]="data"></app-member-card>
          </ng-container>

          <ng-container *ngIf="model === 'trucks'">
            <app-truck-card *ngFor="let data of vm.facturas" [data]="data"></app-truck-card>
          </ng-container>

          <ng-container *ngIf="model === 'trailers'">
            <app-trailer-card *ngFor="let data of vm.facturas" [data]="data"></app-trailer-card>
          </ng-container>
        </div>

        <div *ngIf="vm.view === 'list'" class="list">
          <app-fleet-table [orderTableData]="vm.facturas" [model]="model"> </app-fleet-table>
        </div>
      </div>

      <div class="footer">
        <div class="total">
          {{ 'fleet.txt_showing' | translate }} {{ paginator.pageIndex }}
          {{ 'fleet.txt_of' | translate }}
          {{ paginator.pageTotal }}
        </div>

        <!-- copied from orders-list.component.html -->
        <div class="pagination">
          <i class="icon icon-back" [ngClass]="{ desactivated: paginator.pageIndex == 1 }"></i>
          <p
            class="pagination-back"
            [ngClass]="{ desactivated: paginator.pageIndex == 1 }"
            (click)="
              navigate({
                page: paginator.pageIndex - 1
              })
            ">
            {{ 'history.btns.prev' | translate }}
          </p>
          <div class="current-pagination" (click)="paginator.pageTotal > 1 && (showSelectPage = true)">
            {{ paginator.pageIndex }} <i *ngIf="paginator.pageTotal > 1" class="icon icon-triangle-down"></i>
          </div>
          <div class="select-page" *ngIf="showSelectPage">
            <p
              *ngFor="let page of paginator.pageTotal"
              (click)="
                showSelectPage = false;
                navigate({
                  page: page
                })
              ">
              {{ page }}
            </p>
          </div>
          <p
            class="pagination-next"
            [ngClass]="{ desactivated: paginator.pageIndex >= paginator.pageTotal }"
            (click)="
              navigate({
                page: paginator.pageIndex + 1
              })
            ">
            {{ 'history.btns.next' | translate }}
          </p>
          <i class="icon icon-next" [ngClass]="{ desactivated: paginator.pageIndex >= paginator.pageTotal }"></i>
        </div>

        <div class="limit">
          <mat-label>{{ 'invoice.invoice-table.items-per-page' | translate }}</mat-label>
          <mat-form-field appearance="outline" floatLabel="always" class="brand-field-1">
            <mat-select
              [value]="paginator.pageSize"
              (selectionChange)="
                navigate({
                  limit: $event.value
                })
              "
              class="disable-custom-format">
              <mat-option *ngFor="let sizeOption of paginatorDefaults[vm.view]?.sizeOptions" [value]="sizeOption" class="brand-option-1">{{
                sizeOption
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <app-fleet-widget [size]="'sm'"></app-fleet-widget>
    </div>
  </div>
</div>
