<div mat-dialog-content class="alert-wrapper">
  <div class="alert-header">
    <h2>
      {{ title }}
    </h2>
  </div>
  <div *ngFor="let item of items" class="body">Falta ingresar el {{ item }}</div>

  <div class="alert-button-group">
    <button mat-raised-button [mat-dialog-close]="false" class="bego-btn gray">
      Cancel
    </button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      class="bego-btn yellow medium-size"
      style="margin-left: 10px"
    >
      Confirm
    </button>
  </div>
</div>
