<div class="content" style="max-width: 350px; min-width: 350px">
  <h3 style="text-align: center" *ngIf="!loading">{{ username }}</h3>
  <h3 style="text-align: center" class="skeleton skeleton-header" *ngIf="loading"></h3>

  <div class="description" *ngIf="!loading">
    <div class="info" *ngIf="email">
      <bego-icon icon="begon-email"></bego-icon>
      <p>{{ email }}</p>
    </div>
    <div class="info" *ngIf="lastDate">
      <bego-icon icon="begon-timer"></bego-icon>
      <p>{{ lastDate }}</p>
    </div>
    <div class="info" *ngIf="location">
      <bego-icon icon="begon-tracker" class="tracker"></bego-icon>
      <p>{{ location }}</p>
    </div>
  </div>
  <!-- Skeleton -->
  <div class="description" *ngIf="loading">
    <div class="info">
      <bego-icon icon="begon-email"></bego-icon>
      <p class="skeleton"></p>
    </div>
    <div class="info">
      <bego-icon icon="begon-timer"></bego-icon>
      <p class="skeleton"></p>
    </div>
    <div class="info">
      <bego-icon icon="begon-tracker" class="tracker"></bego-icon>
      <p class="skeleton"></p>
    </div>
  </div>
</div>
