<span *ngIf="!(showSmallResolutionModal || showIncompatibleBrowserModal)">
  <bego-menu id="menu"></bego-menu>
  <section id="container">
    <bego-navigation [notificationBarToggle]=""></bego-navigation>
    <router-outlet></router-outlet>
    <app-notification-bar></app-notification-bar>
  </section>
</span>

<!--This modal will only be displayed when display 
  resolution is too small -->
<app-small-resolution-modal *ngIf="showSmallResolutionModal"> </app-small-resolution-modal>

<!--This modal will only be displayed when browser 
version is not compatible with the app-->
<app-incompatible-browser-modal *ngIf="showIncompatibleBrowserModal && !showSmallResolutionModal"> </app-incompatible-browser-modal>

<bego-alert *ngIf="alert$ | async as alert" [title]="alert.title" [handlers]="alert.handlers">
  <div [innerHTML]="alert.body"></div>
</bego-alert>
