.history-wrapper{
  display: flex;
  justify-content: center;

  .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    .orders-list{
      flex-grow: 1;
    }


  }

  &.no-orders{
    //makes container be full-width
    display: block;
  }
}