<div class="steps">
  <form [formGroup]="step1Form">
    <div class="steps-container">
      <h2 class="formgroup-title-required">{{ 'orders.title-personal-info' | translate }}</h2>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-fullname' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="fullname"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-fullname' | translate"></bego-input>
      </div>

      <div class="field">
        <bego-phone-code-select
          [flag]="phoneFlag"
          [selectedPhoneCode]="phoneCode"
          (sendValues)="phoneCodeChanged($event)"></bego-phone-code-select>
        <bego-input
          type="phone"
          [setValue]="phoneNumber"
          [validators]="phoneValidator"
          (value)="phoneNumberChangeValue($event)"
          [placeholder]="'orders.placeholder-phone' | translate"></bego-input>
      </div>

      <div class="field">
        <bego-label-input size="small" textLabel="Email*"></bego-label-input>
        <bego-input
          keyValue="email"
          type="email"
          [validators]="emailValidator"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-mail' | translate"></bego-input>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" textLabel="RFC*"></bego-label-input>
        <bego-input keyValue="rfc" (value)="updateFormGroup($event)" [placeholder]="'orders.placeholder-rfc' | translate"></bego-input>
      </div>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-reference' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="reference"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-reference' | translate"></bego-input>
      </div>

      <bego-calendar-time *ngIf="cardIsOpen" [disabled]="true"[defaultDate]="datePickup"></bego-calendar-time>
    </div>
  </form>
</div>
