<div class="tags-form-container">
  <div class="page-header">
    <div>
      <h1>
        {{ !this.tag_id ? ('tags.form.title' | translate) : ('tags.form.edit_title' | translate) }}
      </h1>
    </div>
  </div>

  <div class="dialog-container" *ngIf="alertContent?.title">
    <bego-alert
      class="alert"
      [simple]="true"
      [lang]="{
        done: ('tags.confirm_dialog.done' | translate),
      }"
      [alertLang]="alertContent"
      (closeEmitter)="closeDialog($event)">
    </bego-alert>
  </div>

  <form class="form" novalidate [formGroup]="tagsForm" (ngSubmit)="save()">
    <div class="flex">
      <label class="input-label">{{ 'tags.form.tag_name' | translate }}</label>
      <mat-form-field class="brand-field-1">
        <input #firstInput matInput formControlName="name" id="name" placeholder="{{ 'tags.form.tag_name_placeholder' | translate }}" />
        <mat-error *ngIf="getError('name', 'required')">{{ 'tags.validation.name_required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <p class="table-title">
      {{ 'tags.drivers_table.title' | translate }}
      <input matInput formControlName="carriers" id="carriers" hidden />
      <mat-error *ngIf="getError('carriers', 'required')">{{ 'tags.validation.carriers_required' | translate }}</mat-error>
    </p>

    <bego-table-multiple-selection
      [idKeyItem]="tablePrimaryKey"
      [loading]="loadingTableData"
      [lang]="lang"
      [columns]="columns"
      [values]="drivers"
      [page]="page"
      [actions]="actions"
      [filter]="true"
      [debounce]="1000"
      [selectRowCheck]="selectedRow"
      (filterEmitter)="filterData($event)"
      (selectedActionEmitter)="selectingAction($event)"
      (selectorRowsCheckEmitter)="rowSelected($event)"
      (reloadTable)="handleReload($event)"
      (sortColumnEmitter)="sortingTable($event)"
      (pageChangeEmitter)="changePage($event)"
      (actionColumn)="selectColumn($event)">
      <div class="buttons-external">
        <button mat-flat-button type="submit" class="brand-btn-2">{{ 'tags.buttons.save' | translate }}</button>
      </div>
    </bego-table-multiple-selection>
  </form>
</div>
