<div class="new-order-container" #ordersRef>
  <div class="new-order-wrapper" [ngClass]="cardIsOpen ? 'card-open' : ''">
    <div class="steps-body">
      <div class="order-header">
        <!-- (click)="jumpStepTitle()" -->
        <h1 (click)="jumpStepTitle()">
          {{ typeOrder }}<img src="../../../assets/orders/exchange.svg" />
        </h1>
      </div>

      <div class="order-stepper-wrapper">
        <app-stepper
          style="margin-top: 50px"
          [(selectedSlide)]="currentStepIndex"
          (selectedSlideChange)="calculateProgress()"
          [progress]="checkoutProgress"
          [steps]="ordersSteps"
        >
        </app-stepper>
      </div>

      <mat-tab-group [(selectedIndex)]="currentStepIndex">
        <mat-tab>
          <app-step1
            [locations]="locations"
            (step1FormData)="getStep1FormData($event)"
            (validFormStep1)="validStep1($event)"
            [draftData]="draftData"
            [orderWithCP]="isOrderWithCP"
          ></app-step1>
        </mat-tab>

        <mat-tab>
          <app-step2
            [creationdatepickup]="datepickup"
            [creationTime]="creationTime"
            (step2FormData)="getStep2FormData($event)"
            (validFormStep2)="validStep2($event)"
            [draftData]="draftData"
            [orderWithCP]="isOrderWithCP"
            [editCargoWeightNow]="editCargoWeightNow"
            (cargoWeightEdited)="cargoWeightEdited()"
            [hazardousFileAWS]="hazardousFileAWS"
            [catalogsDescription]="catalogsDescription"
          ></app-step2>
        </mat-tab>

        <mat-tab>
          <app-step3
            [locations]="locations"
            (step3FormData)="getStep3FormData($event)"
            (validFormStep3)="validStep3($event)"
            [draftData]="draftData"
            [orderWithCP]="isOrderWithCP"
          ></app-step3>
        </mat-tab>

        <mat-tab>
          <app-step4
            [dropoffETA]="datedropoff"
            [timeETA]="minDropoff"
            (step4FormData)="getStep4FormData($event)"
            (validFormStep4)="validStep4($event)"
            [draftData]="draftData"
          ></app-step4>
        </mat-tab>
      </mat-tab-group>

      <div class="footer">
        <button (click)="prevSlide()" maat-button class="bego-btn gray" *ngIf="currentStepIndex">
          <i class="icon icon-arrow-left back-arrow-icon"></i>
          {{ "orders.back" | translate }}
        </button>

        <button
          (click)="nextSlide()"
          mat-raised-button
          class="bego-btn yellow medium-size"
          [disabled]="btnStatusNext"
        >
          {{ ordersSteps[currentStepIndex].nextBtnTxt }}
        </button>
      </div>
    </div>
  </div>
</div>
