.new-order-container{
    height: 100%;
    color: #EDEDED;
    overflow: hidden;

    .order-header {
        padding: 20px 57px 0;
        img {
            padding: 0 0 0 20px;
        }
    }

    .mat-tab-group {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .new-order-wrapper{
        height: 100%;
        background: #0B1117;
        box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        transform: translateX(100%);
        transition: transform .5s;
        pointer-events: auto;
        box-sizing: border-box;
    
        &.card-open{
            transform: translateX(0%);
        }

        .steps-body{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .order-stepper-wrapper{
                padding: 50px 57px;
            }
        }

        .footer{
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            gap: 22px;
            width: 100%;
            padding: 30px;

            .back-arrow-icon{
                font-size: 10px;
                margin-right: 12px;
            }
        }
    }
}

::ng-deep .mat-tab-header {
    display: none!important;
}