.new-order-container {
  height: 100%;
  color: #ededed;
  overflow: hidden;

  .order-header {
    padding: 20px 57px 0;
    img {
      padding: 0 0 0 20px;
    }
  }

  .mat-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .new-order-wrapper {
    height: 100%;
    background: #0b1117;
    box-shadow: inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: translateX(100%);
    transition: transform 0.5s;
    pointer-events: auto;
    box-sizing: border-box;

    &.card-open {
      transform: translateX(0%);
    }

    .steps-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .order-stepper-wrapper {
        padding: 50px 57px;
      }

      .toggle-bill-container {
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;

        p {
          margin: 0 10px 0 0;
          color: #ededed;
          font-family: "Avenir-Heavy";
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0;
          line-height: 19px;
          display: inline-block;
        }

        .slide {
          padding: 1px 2px 0;
          border: 1px solid #fff;
          border-radius: 16px;
        }

        .bill-question {
          display: flex;
          align-items: center;

          > img {
            margin-right: 10px;
            display: inline-block;
          }
        }
      }
    }

    .footer {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      gap: 22px;
      width: 100%;
      padding: 30px;

      .back-arrow-icon {
        font-size: 10px;
        margin-right: 12px;
      }
    }
  }
}

::ng-deep .mat-tab-header {
  display: none !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(249, 193, 66);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(255, 255, 255);
}
