<div class="edit-truck">
  <div class="wrapper">
    <div class="main">
      <bego-tabs [tabs]="fleetTabs" (onTabChange)="slider.scrollTo($event)"></bego-tabs>
      <form  class="inputs" [formGroup]="truckDetailsForm">
      <div class="embla" #sliderRef>
        <div class="embla__container">

          <!-- Truck details tab-->
          <div class="embla__slide">
            <div class="pictures-wrapper">
              <div class="pic pic1" (click)="openFileEditor(!pictures?.[0])" [class]="{'no-picture': !pictures?.[0]}"><img [src]="pictures?.[0]?.url" alt=""/></div>
              <div class="pic pic2" (click)="openFileEditor(!pictures?.[0])"[class]="{'no-picture': !pictures?.[1]}"><img [ngClass]="{'no-picture':pictures?.[1]}" [src]="pictures?.[1]?.url" alt=""/></div>
              <div class="pic pic3" (click)="openFileEditor(!pictures?.[0])"[class]="{'no-picture': !pictures?.[2]}"><img [ngClass]="{'no-picture':pictures?.[2]}" [src]="pictures?.[2]?.url" alt=""/></div>
              <div class="more-btn" (click)="openFileEditor(true)">
                <div>
                  <i class="icon icon-plus" style="color: white;"></i>
                </div>
                 <p>{{'fleet.trucks.more' | translate}}</p>
                </div>
            </div>
      
            <form  class="inputs" [formGroup]="truckDetailsForm">
      
              <div class="truck-input">
                <label for="Model">{{'fleet.trucks.model' | translate}}</label>
                <input [placeholder]="'fleet.trucks.type-model' | translate" type="text" name="Model" formControlName="brand">
              </div>
              
              <div class="truck-input">
                <label for="year">{{'fleet.trucks.year' | translate}}</label>
                <input [placeholder]="'fleet.trucks.type-year' | translate" type="text" name="year" formControlName="year">
              </div>
      
              <div class="truck-input">
                <label for="plates">{{'fleet.trucks.plates' | translate}}</label>
                <input  [placeholder]="'fleet.trucks.type-plates' | translate"type="text" name="plates" formControlName="plates">
              </div>
      
              <app-color-picker
                (changeColor)="updateTruckColor($event)"
                [selectedColor]="selectedColor"
                [btnDone]="'fleet.trucks.txt-done' | translate">
              </app-color-picker>
      
            </form>
          </div>

          <!-- truck settings tab-->
          <div class="embla__slide with-gap">

            <!-- permiso sct input-->
            <mat-form-field>
              <mat-label>{{
                "invoice.autotransporte.permiso-sct" | translate
              }}</mat-label>
              <mat-select formControlName="sct_permission">
                 <input
                    (keyup)="filteredPermisosSCT = searchFunction(this.getCatalogue('sat_cp_tipos_de_permiso'),$event.target.value)"> 
                <mat-option  
                  *ngFor="let option of filteredPermisosSCT"  
                  [value]="option.code" class="brand-option-1"
                  (click)="setOption(option,'sct_permission')">
                    {{ option.code }} - {{ option.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!--  sct number input-->
            <div class="truck-input wide-label">
              <label for="sct_number">{{'invoice.autotransporte.num-permiso-sct' | translate}}</label>
              <input type="text" name="sct_number" formControlName="sct_number">
            </div>

            <!--truck settings autocomplete-->
            <mat-form-field >
              <mat-label>{{
                "fleet.trucks.truck_settings" | translate
              }}</mat-label>
              <mat-select formControlName="truck_settings">
                <input
                   (keyup)="filteredTruckSettings = searchFunction(this.getCatalogue('sat_cp_config_autotransporte'),$event.target.value)"> 
               <mat-option  
                 *ngFor="let option of filteredTruckSettings"  
                 [value]="option.code" class="brand-option-1"
                 (click)="setOption(option,'truck_settings')">
                   {{ option.code }} - {{ option.description }}
               </mat-option>
             </mat-select>

            </mat-form-field>
            
          </div>

          <!-- truck insurance tab-->
          <div class="embla__slide with-gap">

            <div class="truck-input wide-label">
              <label for="insurer">{{'fleet.trucks.insurer-name' | translate}}</label>
              <input [placeholder]="'fleet.trucks.type-insurer' | translate" type="text" name="insurer" formControlName="insurer">
            </div>
            
            <div class="truck-input wide-label">
              <label for="policy_number">{{'fleet.trucks.policy-number' | translate}}</label>
              <input [placeholder]="'fleet.trucks.type-policy-number' | translate"type="text" name="policy_number" formControlName="policy_number">
            </div>

            <div class="truck-input wide-label">
              <label for="">
                <div>{{'fiscal-documents.upload-files.txt_insurance' | translate}}</div>
                <div>(PDF, JPG, PNG)</div>
              </label>
              <bego-drag-file-bar *ngIf="!insuranceFile" (fileOutput)="updateInsuranceFile($event)">
                <div class="insurance-file-input" template>
                  <i class="icon icon-plus"></i>
                </div>
              </bego-drag-file-bar>

              <div *ngIf="insuranceFile" class="insurance-file-wrapper" (click)="showInsuranceFile()">
                <div class="insurance-file">
                  <div  class="file-type">
                    <div class="type">{{insuranceFile.fileType | uppercase}}</div>
                    <i class="icon icon-document"></i>
                  </div>

                  <div>
                    <div class="title">{{insuranceFile.name}}</div>
                    <div class="size">{{insuranceFile.size}}</div>
                  </div>
                </div>
                <i class="icon icon-edit" (click)="editInsuranceFile($event)"></i>


              </div>

            </div>



          </div>
        </div>
      </div>

      <button
        (click)="saveChanges()"
        mat-raised-button
        class="bego-btn yellow medium-size"
        [disabled]="disableSaveBtn"
    >
      {{'history.consignment_note.save_changes' | translate}}
    </button>      
  </form>



    </div>

    <div class="sidebar">
      <app-fleet-widget [size]="'sm'"></app-fleet-widget>
    </div>
  </div>
</div>
