<div class="map map-container">
  <div #map [ngClass]="[!showFleetMap || showOrderDetails ? 'map-faded-out' : '']"
     class="google-map transparent">
  </div>
  <bego-map
    [hide]="showOrderDetails"
    [typeMap]="typeMap"
    [headerTransparent]="headerTransparent"
    (createGoogleImage)="getGoogleImageMap($event)"
  >
  </bego-map>

  <div class="new-order-wrapper">
    <div class="new-order-details">
      <app-orders
        [(cardIsOpen)]="showOrderDetails"
        [draftData]="draftData"
        [locations]="locations"
        [datepickup]="datepickup"
        [datedropoff]="datedropoff"
        [imageFromGoogle]="imageFromGoogle"
        [membersToAssigned]="membersToAssigned"
        [userWantCP]="userWantCP"
      >
      </app-orders>
    </div>

    <div class="input-directions">
      <app-input-directions
        (sendAssignedMermbers)="getMembersToAssignedOrder($event)"
        [showMapPreview]="showOrderDetails"
        (showNewOrderCard)="showNewOrderCard()"
        (updateLocations)="updateLocations($event)"
        (updateDatepickup)="updateDatepickup($event)"
        (updateDropOffDate)="updateDropOffDate($event)"
        [typeMap]="typeMap"
        [savedPlaces]="savedPlaces$ | async"
        (inputPlace)="placesService.emitter.next($event)"
        (sendUserWantCP)="getUserWantCP($event)"
        [drafts]="draftData"
        [haveFleetMembers]="haveNotFleetMembers"
        [haveFleetMembersErrors]="haveFleetMembersErrors"
      >
      </app-input-directions>
    </div>

    <button
      id="reset"
      (click)="mapEmitter.next(['center'])"
      [ngClass]="{
        'reset-up': userRole && showFleetMap && !showOrderDetails
      }"
    >
      <i class="icon icon-gps"></i>
    </button>
  </div>
</div>