<div class="map map-container">
  <div #map [ngClass]="[!showFleetMap || showOrderDetails ? 'map-faded-out' : '']"
     class="google-map transparent">
  </div>
  <bego-map
    [hide]="showOrderDetails"
    [typeMap]="typeMap"
    [headerTransparent]="headerTransparent"
    (createGoogleImage)="getGoogleImageMap($event)"
  >
  </bego-map>

  <div class="new-order-wrapper">
    <div class="new-order-details" [ngClass]="{ full: !showSidebar }">
      <app-orders
        [(cardIsOpen)]="showOrderDetails"
        (stepChange)="onStepChange($event)"
        [orderType]="orderType"
        [draftData]="draftData"
        [locations]="locations"
        [datepickup]="datepickup"
        [datedropoff]="datedropoff"
        [imageFromGoogle]="imageFromGoogle"
        [membersToAssigned]="membersToAssigned"
        [userWantCP]="userWantCP"
        [orderPreview]="orderPreview"
      >
      </app-orders>
    </div>

    <div class="input-directions">
      <app-input-directions
        *ngIf="showSidebar"
        [(orderType)]="orderType"
        (sendAssignedMermbers)="getMembersToAssignedOrder($event)"
        [showMapPreview]="showOrderDetails"
        (showNewOrderCard)="showNewOrderCard()"
        (updateLocations)="updateLocations($event)"
        (updateDatepickup)="updateDatepickup($event)"
        (updateDropOffDate)="updateDropOffDate($event)"
        [typeMap]="typeMap"
        [savedPlaces]="savedPlaces$ | async"
        (inputPlace)="placesService.emitter.next($event)"
        (sendUserWantCP)="getUserWantCP($event)"
        [drafts]="draftData"
        [haveFleetMembers]="haveNotFleetMembers"
        [haveFleetMembersErrors]="haveFleetMembersErrors"
      >
      </app-input-directions>

      <button
        id="reset"
        *ngIf="!showOrderDetails"
        (click)="mapEmitter.next(['center'])"
        [ngClass]="{
          'reset-up': userRole && showFleetMap && !showOrderDetails
        }"
      >
        <i class="icon icon-gps"></i>
      </button>
    </div>
  </div>
</div>

<bego-modal
  *ngIf="showCompleteModal"
  image="vehicle"
  [lang]="{ done: 'orders.complete-modal.done-btn' | translate }"
  (closeEmitter)="showCompleteModal = false">
  <h1>{{ 'orders.complete-modal.title' | translate }}</h1>
  <p>{{ 'orders.complete-modal.description' | translate }}</p>
</bego-modal>
