@import '~/src/styles';


.new-order-wrapper{
    margin-top: 125px;
    margin-right: 50px;
    display: flex;
    height: 80vh;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: calc(50px + #{$bego-menu-width});
    pointer-events: none;
    z-index: 2;

    .new-order-details{
        flex-grow: 1;
        pointer-events: none;
    }

    .input-directions{
        width: 400px;
        position: relative;
    }
}

// copied from _home.scss
::ng-deep {
    .map {
      &.map-container {
        position: relative;
      }

      .customMarker {
        position: absolute;
        cursor: pointer;
        background: $yellow-color;
        width: 50px;
        height: 50px;
        /* -width/2 */
        margin-left: -25px;
        /* -height + arrow */
        margin-top: -25px;
        border-radius: 50%;
        padding: 0px;

        &.inactive-marker {
          filter: grayscale(100%);
        }

        &.available-marker {
          background: #6dd400;
        }

        &.unavailable-marker {
          background: #de473c;
        }
      }

      .customMarker img {
        width: 44px;
        height: 44px;
        margin: 3px;
        border-radius: 50%;
        background: #040b12;
        object-fit: cover;
      }
    }

    .btn-location {
      position: absolute;
      bottom: 150px;
      font-size: 26px;
      right: 46px;
      color: #ededed;
      width: 34px;
      height: 34px;

      &:before {
        content: '';
        height: 4px;
        width: 4px;
        position: absolute;
        border: 2px solid #ededed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }

    .btn-location-driver {
      bottom: 40px !important;
    }
}

.google-map {
    height: calc(100vh - 106px);
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &.map-faded-out{
        opacity: 0;
        pointer-events: none;
        // display: none;
    }

    &.transparent {
        height: 100vh;
    }
}
