@import '~/src/styles';


.new-order-wrapper{
    margin-top: 125px;
    margin-right: 50px;
    display: flex;
    height: 80vh;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: calc(50px + #{$bego-menu-width});
    pointer-events: none;

    .new-order-details{
        flex-grow: 1;
        pointer-events: none;
    }

    .input-directions{
        width: 400px;
        position: relative;
    }
}



