.mat-flat-button.brand-btn-1 {
  background: linear-gradient(180deg, #080f15 0%, #171d23 100%);
  border: 3px solid #10161c;
  box-shadow: inset 3px 3px 8px 3px #111416;
  border-radius: 8px;
  font-size: 14px;
  color: #c1c7d0;
  font-weight: 600;

  &:hover {
    outline: 1px solid #ffbe00;
  }
}

.mat-flat-button.brand-btn-2 {
  background: #ffbe00;
  box-shadow: inset 4px 4px 4px #ffd354, inset -4px -4px 6px #d59e00;
  border-radius: 8px;
  color: #040b11;
  font-size: 14px;
  font-weight: 600;

  &.mat-button-disabled {
    background: linear-gradient(180deg, #080f15 0%, #171d23 100%);
    outline: 3px solid #10161c;
    box-shadow: inset 3px 3px 8px 3px #111416;
    color: #494c50;
  }
}

.mat-flat-button.brand-btn-error {
  background: #fa3c00;
  border-radius: 8px;
  color: #ededed;
  font-size: 14px;
  font-weight: 600;
}

.mat-form-field-appearance-outline.brand-field-1 {
  .mat-input-element::placeholder,
  mat-select .mat-select-placeholder {
    color: #70757b;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-family: "Avenir";
  }

  input.mat-input-element,
  .mat-select-value {
    caret-color: #ededed;
    color: #ededed;
    font-size: 15px;
  }

  mat-label,
  .mat-radio-label .mat-radio-label-content {
    font-family: "Avenir";
    color: #c1c7d0;
  }

  .mat-form-field-infix {
    width: auto;
    padding: 0.4em 0 0.6em;
  }

  &.mat-form-field-hide-placeholder .mat-form-field-empty.mat-form-field-label {
    top: 1.28em;

    mat-label {
      color: #70757b;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      font-family: "Avenir";
    }
  }

  .mat-form-field-outline:first-child {
    border: 1px solid #1c232a;
    box-shadow: inset -2px -2px 4px #1c232a, inset 4px 4px 4px #02070b;
    border-radius: 4px;
  }

  .mat-form-field-outline-thick {
    color: #ffbe00cc;

    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: 1px;
    }
  }

  .mat-form-field-suffix button[matsuffix] {
    color: #ededed;
  }

  .mat-select-disabled .mat-select-arrow,
  .mat-select-arrow {
    color: #63686e;
  }

  &.mat-form-field.mat-focused .mat-select-arrow {
    color: #ffbe00;
  }

  &.mat-form-field-disabled {
    .mat-form-field-label mat-label {
      opacity: 0.4;
    }

    .mat-form-field-outline:first-child {
      box-shadow: none;
    }

    .mat-select-disabled .mat-select-arrow,
    .mat-select-arrow {
      opacity: 0.4;
    }
  }
}

.mat-menu-panel.brand-menu-1 {
  background: #0a0f14;
  box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24,
    inset -2px -2px 4px #050d14;
  border-radius: 8px;

  .mat-menu-item {
    color: #ededed;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;

    .mat-icon {
      font-size: 20px;
      color: #ededed;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #1c232a;
    }

    &:hover:not([disabled]) {
      background: rgba(255, 255, 255, 0.03);
    }
  }
}

.mat-tooltip.brand-tooltip-1 {
  padding: 12px 14px;
  color: #ededed;
  background: linear-gradient(270deg, #090d12 5.77%, #0a0f14 100%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 70%), inset 0px -4px 4px rgb(0 0 0 / 25%),
    inset 0px 4px 6px #1c232a;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-line;
  letter-spacing: 0.9px;

  &::first-line {
    font-weight: 500;
  }
}

.mat-progress-bar.brand-progress-bar-1 {
  .mat-progress-bar-background {
    fill: #332c11;
  }

  .mat-progress-bar-buffer {
    background-color: #332c11;
  }

  .mat-progress-bar-fill::after {
    background-color: #ffbe00;
  }
}

.mat-progress-spinner.brand-spinner-1 {
  circle {
    stroke: #040b11;
  }
}

.mat-progress-spinner.brand-spinner-2 {
  circle {
    stroke: #ffbe00;
  }
}

ngx-mat-select-search.brand-select-search-1 {
  .mat-select-search-input::placeholder {
    color: #54575c;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-family: "Avenir";
  }
}

.mat-option.brand-option-1 {
  height: auto;
  padding: 8px 16px;
  border-left: 1px solid transparent;

  .mat-option-text {
    display: inline-flex;
    align-items: center;

    > img {
      display: block;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      background-color: rgba(0, 0, 0, 0.1);
    }

    > div {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      line-height: normal;
      color: #ededed;

      .sublabel {
        opacity: 0.7;
        font-size: 0.9em;
      }
    }
  }

  &.mat-active {
    background: rgba(255, 255, 255, 0.03);
    border-left: 1px solid #ffbe00;
  }

  &[disabled] {
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    background-color: transparent;
  }
}

.cdk-overlay-backdrop.brand-dialog-1 {
  &.cdk-overlay-backdrop-showing {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  & + * {
    .mat-dialog-container {
      padding: 32px 24px 32px;
      background: #0a0f14;
      box-shadow: inset 4px 4px 5px #1a1e24, inset -4px -4px 4px #050d14;
      border-radius: 8px 8px 24px 8px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5))
        drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.5));
    }
  }
}

.brand-table-1 {
  width: 100%;
  box-shadow: none;
  background: initial;

  .mat-header-cell,
  .mat-cell {
    color: #ededed;
  }

  .mat-header-cell {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    > div {
      justify-content: center;
    }
  }

  .mat-cell {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  thead th {
    border-bottom-color: #1c232a;
  }

  tbody tr:nth-child(2n) {
    background: linear-gradient(
      90.03deg,
      rgba(13, 18, 23, 0.4) 0.86%,
      rgba(35, 37, 40, 0.163875) 51.72%,
      rgba(83, 88, 94, 0.08) 99.51%
    );
  }
}

// Utils

.radius-s {
  border-radius: 24px 0 24px 0 !important;
}

.radius-30 {
  border-radius: 30px !important;
}

.brand-filter-1 {
  filter: invert(78%) sepia(16%) saturate(7050%) hue-rotate(1deg)
    brightness(106%) contrast(103%);
}
