<div class="payments-container">
  <div class="page-header">
    <div>
      <h1>{{ 'payments.table.title' | translate }}</h1>
    </div>
    <!-- <button mat-flat-button class="brand-btn-2" (click)="openUploaderModal()">{{ 'payments.buttons.upload' | translate }}</button> -->
  </div>

  <bego-table-multiple-selection
    [lang]="lang"
    [loading]="loadingData"
    [columns]="columns"
    [values]="payments"
    [page]="page"
    [actions]="actions"
    [filter]="true"
    [debounce]="1000"
    [selectRowCheck]="selectRow"
    (filterEmitter)="filterData($event)"
    (selectedActionEmitter)="selectingAction($event)"
    (reloadTable)="handleReload($event)"
    (sortColumnEmitter)="sortingTable($event)"
    (pageChangeEmitter)="changingPage($event)"
    (actionColumn)="selectColumn($event)">
    <button mat-flat-button class="brand-btn-2" (click)="openUploaderModal()">{{ 'payments.buttons.upload' | translate }}</button>
  </bego-table-multiple-selection>
</div>
