

main {
    padding-inline: 4rem;
    height: 100%;
    border: palegoldenrod solid 3px;

    h2 {

        font-size: 38px;
        font-family: 'gotham';
        font-weight: 700;
    }
}

.chibi-chatbot-section {
    width: 346px;
    height: 195px;

    img {
        width: 100%;
        height: 100%;
    }
}

.chibibot-conversation-section {
    width: 100%;
    height: 100%;
    
}