<div class="choose-fleet-element-wrapper">

  <div class="header">
    <div (click)="goBack.emit()">
      <i class="icon icon-back"></i>
    </div>
    <div class="title">
      {{ title }}
    </div>
  </div>

  <div class="body">

    <!-- Drivers cards-->
    <div class="cards-container" *ngIf="elementToChoose == 'driver'">
      <div class="card driver-info" *ngFor="let driver of fleetInfo.drivers">
        <!--  -->
        <app-fleet-asset-card [ngClass]="{'no-license' :  !driver.has_license && orderInfo.stamp}" (click)="setDriver(driver)"
          [props]="{ type: 'drivers', picture: driver?.photo, notAvailable: driver.availability == 'not-available'}">
          <div class="card-asset-container">
            <div class="title">
              {{driver?.nickname}}
            </div>
            <div class="selected-dot" [ngClass]="{active: driver._id == selectedFleetElements.carrier_id}"></div>

          </div>

        </app-fleet-asset-card>
      </div>
    </div>

    <!-- Trucks cards -->
    <div class="cards-container" *ngIf="elementToChoose == 'truck'">
      <div class="card truck-info" *ngFor="let truck of fleetInfo.trucks">
        <app-fleet-asset-card (click)="setTruck(truck)"
          [props]="{ type: 'trucks', picture: truck?.photo, notAvailable: truck.availability == 'not-available'}">
          <div class="card-asset-container">
            <div class="info">
              <div class="title">
                {{truck?.name}}
              </div>
              <div class="subtitle">
                {{truck?.plates}}{{ truck?.color ? ' - ' + ('fleet.colors.'+ truck?.colorName | translate )  : ''}}
              </div>
              <div class="label">
                {{truck?.year}}
              </div>
            </div>
            <div class="selected-dot" [ngClass]="{ active: truck._id == selectedFleetElements.truck_id }"></div>
          </div>
        </app-fleet-asset-card>
      </div>
    </div>

    <!-- Trailers cards-->
    <div class="cards-container" *ngIf="elementToChoose == 'trailer'">
      <div class="card truck-info" *ngFor="let trailer of filteredTrailers">
        <app-fleet-asset-card (click)="setTrailer(trailer)"
          [props]="{ type: 'trucks', picture: trailer?.photo, notAvailable: trailer.availability == 'not-available' }">
          <div class="card-asset-container">
            <div class="info">
              <div class="title">
                {{trailer?.model}}
              </div>
              <div class="subtitle">
                {{trailer?.trailer_number}}
              </div>
            </div>
            <div class="selected-dot" [ngClass]="{active: trailer._id == selectedFleetElements.trailer_id }"></div>
          </div>
        </app-fleet-asset-card>
      </div>
    </div>

  </div>

    <button class="select-btn"  (click)="setChanges()" [disabled]="disableSelectBtn">
      {{ 'history.history_detail.select' | translate}}
    </button>


</div>