<!--
<section>
    <div class="user-message-gradient-container">
        <div>
            <p>{{message}}</p>
        </div>
    </div>
    <div class="user-yellow-circle" [style.background-image]="'url(' + profilePicture + ')'"></div>
</section>
-->

<section>
    <div class="user-message-gradient-container">
        <div>
            <p>{{message}}</p>
            <div class="file-container-border-gradient" *ngIf="file">
                <div>
                    <div>
                        <bego-icon icon="begon-full-document-right"></bego-icon>
                    </div>
                    <div>
                        <p>{{file}} </p>
                        <p>{{format}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-yellow-circle" [style.background-image]="'url(' + profilePicture + ')'"></div>
</section>