<section>
  <div class="user-message-gradient-container message" [@fadeIn]>
    <div>
      <p [innerHTML]="formattedString"></p>
      <ng-container *ngFor="let file of files">
        <div class="file-container-border-gradient">
          <div>
            <div>
              <bego-icon icon="begon-full-document-right"></bego-icon>
            </div>

            <div>
              <p>{{ file.name }}</p>
              <p>{{ file.name | fileExtension: '.':'FILE' }}</p>
            </div>
            
          </div>
        </div>
      </ng-container>

      <div class="images-container">

        <!--
                <div *ngFor="let imageUrl of uploadedImageUrls" class="image-container">
                  <a [href]="imageUrl" target="_blank">
                    <img [src]="imageUrl" alt="Uploaded Image" class="thumbnail">
                  </a>
                </div>
                -->
        <ng-container *ngFor="let file of files">
          <a [href]="file" target="_blank" class="image-conversation">
            <img [src]="file" alt="Uploaded Image" class="thumbnail">
          </a>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="user-yellow-circle">
    <img class="profile-picture" [src]="profilePicture" (error)="onError()" alt="User profile picture">
  </div>
</section>
