<bego-modal
  [ngClass]="[!showModal ? 'hide-modal' : '']"
  [backdrop]="backdrop"
  [icon]="icon"
  [lang]="langmodal"
  [activatedDone]="activatedDone"
  [enabledClose]="true"
  (closeEmitter)="actions($event)">
  <div class="content">
    <h2 *ngIf="!showSuccess">{{ 'polygons.create-polygon.title' | translate }}</h2>
    <h2 *ngIf="showSuccess">Polygon created correctly</h2>
    <div class="input-content" *ngIf="!showSuccess" [formGroup]="polygonForm">
      <input
        type="text"
        class="input-bego"
        [placeholder]="'polygons.create-polygon.input-placeholder' | translate"
        formControlName="name" />
    </div>

    <p *ngIf="showSuccess && data.action === 'create'">Your Polygon has been created correctly on the map and has been added to filters.</p>
    <p *ngIf="showSuccess && data.action === 'rename'">Your Polygon has been renamed correctly</p>
  </div>
</bego-modal>
