
<section>
    <div class="pricing">
        <div class="box">
          <form [formGroup]="insuranceForm">
            <h2>{{ "checkout.insurance-modal.title-insurance" | translate }}</h2>
            <h3>{{ "checkout.insurance-modal.txt-insurance" | translate }}</h3>
            <h3>{{ "checkout.insurance-modal.txt-insurance-taxes" | translate }}</h3>
            <div class="cargo-value">
              <input
                currencyMask
                [options]="{
                  align: 'center',
                  prefix: '',
                  thousands: ',',
                  decimal: '.',
                  precision: 0,
                  allowNegative: false,
                  suffix: ' MXN'
                }"
                min="0"
                formControlName="cargoValue"
                (keyup)="getPricing()"
              />
            </div>
          </form>
        </div>
      
        <div class="deferred-payment">
          <section class="order-select">
            <div>
              <button [ngClass]="{ check: !select }" (click)="changePay(false)">
                <label>PUE</label>
              </button>
              <button [ngClass]="{ check: select }" (click)="changePay(true)">
                <label>PPD</label>
              </button>
            </div>
            <p *ngIf="!select">{{"checkout.insurance-modal.deferred-PUE" | translate }}</p>
            <p *ngIf="select">{{"checkout.insurance-modal.deferred-PPD" | translate }}</p>
          </section>
        </div>
      
        <div class="container-button">
          <button (click)="updatePricing()" [disabled]='!btnPricing'>
            {{ 'checkout.insurance-modal.btn' | translate }}
          </button>
        </div>
      
      </div>
      
</section>
